<table class="table table-striped table-cart">
    <thead>
        <tr>
            <th class="col-img text-center">Image</th>
            <th class="col-name text-center">Product / Description</th>
            <th class="col-price text-right">Price</th>
            <th class="col-qty text-center">Quantity</th>
            <th class="col-price text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for lineItem in order.lineItems %}
        {% set priceData = lineItem.getPriceData() %}
        <tr>
            <td class="col-img valign-mid">
                <a href="{{ path('app_store_product_view', { slug: lineItem.product.slug }) }}" class="variation-part-{{ lineItem.product.id }}">
                    {% if lineItem.product.thumbnail %}
                        {% media lineItem.product.thumbnail, 'reference' with { class: 'img-responsive product-img', title: lineItem.product.name, alt: lineItem.product.name } %}
                    {% else %}
                        <img src="{{ asset('bundles/app/theme/store/default/images/placeholder-01.jpg') }}" class="img-responsive product-img" title="{{ lineItem.product.name }}" alt="{{ lineItem.product.name }}" />
                    {% endif %}
                </a>
            </td>
            <td class="col-name valign-mid">
                <a href="{{ path('app_store_product_view', { slug: lineItem.product.slug }) }}"><strong>{{ lineItem.product.name }}</strong></a>
                {% set parentProduct = lineItem.product %}
                {% if lineItem.product.parent %}
                    {% set parentProduct = lineItem.product.parent %}
                {% endif %}
                {% if parentProduct.type.productAttributes|length > 0 %}
                <ul class="margin-t-2">
                    {% for productTypeAttribute in parentProduct.type.productAttributes %}
                        {% if productTypeAttribute.code == 'color' and lineItem.product.color %}
                        <li>{{ productTypeAttribute.name }}: {{ lineItem.product.color.name }}</li>
                        {% elseif productTypeAttribute.code == 'size' and lineItem.product.size %}
                        <li>{{ productTypeAttribute.name }}: {{ lineItem.product.size.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td class="col-price text-right valign-mid">
                {% set priceClasses = '' %}
                {% if priceData.hasDiscount %}
                    {% set priceClasses = 'text-red01' %}
                    <div class="price text-light-gray01 fs--8"><s>{{ app_currency }} {{ priceData.price|number_format(2, '.', ',') }}</s></div>
                {% endif %}
                <div class="price {{ priceClasses }}"><span class="currency">{{ app_currency }}</span> <span class="value">{{ priceData.finalPrice|number_format(2, '.', ',') }}</span></div>
            </td>
            <td class="col-qty text-center valign-mid">
                {{ lineItem.quantity }}
            </td>
            <td class="col-price text-right valign-mid">
                {% set priceClasses = '' %}
                {% if priceData.hasDiscount %}
                    {% set priceClasses = 'text-red01' %}
                    <div class="price text-light-gray01 fs--8"><s>{{ app_currency }} {{ priceData.subTotal|number_format(2, '.', ',') }}</s></div>
                {% endif %}
                <div class="price {{ priceClasses }}"><span class="currency">{{ app_currency }}</span> <span class="value">{{ priceData.finalSubTotal|number_format(2, '.', ',') }}</span></div>
            </td>
        </tr>
        {% endfor %}
        {# <tr class="bg-dark-gray text-white">
            <td colspan="3"></td>
            <td class="text-right fs-1_25">TOTAL</td>
            <td class="text-center"><div class="price fs-1_25"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.lineItemsFinalTotal|number_format(2, '.', ',') }}</span></div></td>
        </tr> #}
    </tbody>
</table>

<div class="row">
    <div class="col-lg-offset-8 col-lg-4 col-md-offset-8 col-md-4 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
        <table class="table table-striped table-layout1 table-order-totals">
            <tbody>
                <tr>
                    <td>Subtotal</td>
                    <td class="text-right"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.lineItemsFinalTotalPrice|number_format(2, '.', ',') }}</span></td>
                </tr>
                {% if orderTotals.giftWrapPrice is not empty and orderTotals.giftWrapPrice %}
                <tr>
                    <td>Gift Wrap</td>
                    <td class="text-right"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.giftWrapPrice|number_format(2, '.', ',') }}</span></td>
                </tr>
                {% endif %}
                <tr>
                    <td>Shipping</td>
                    <td class="text-right">
                        {% if orderTotals.shippingFee is defined and orderTotals.shippingFee > 0 %}
                        <span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.shippingFee|number_format(2, '.', ',') }}</span>
                        {% else %}
                        <strong>FREE</strong>
                        {% endif %}
                    </td>
                </tr>
                {% if orderTotals.discountTotal is defined and orderTotals.discountTotal > 0 %}
                <tr>
                    <td>Promo Code Discount</td>
                    <td class="text-right">
                        <span class="currency">- {{ app_currency }}</span> <span class="value">{{ orderTotals.discountTotal|number_format(2, '.', ',') }}</span>
                    </td>
                </tr>
                {% endif %}
                <tr class="bg-dark-gray text-white">
                    <td>Order Total</td>
                    <td class="text-right"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.finalTotalPrice|number_format(2, '.', ',') }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>