<table class="table table-striped table-cart table-order-summary-simple">
    <thead>
        <tr>
            <th class="col-name text-left">Item Name / Description</th>
            <th class="col-price text-right">Price</th>
            <th class="col-qty text-center">Quantity</th>
            <th class="col-price text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for lineItem in order.lineItems %}
        {% set priceData = lineItem.getPriceData() %}
        <tr>
            <td class="col-name valign-mid">
                <strong>{{ lineItem.product.name }}</strong>
                {% set parentProduct = lineItem.product %}
                {% if lineItem.product.parent %}
                    {% set parentProduct = lineItem.product.parent %}
                {% endif %}
                {% if parentProduct.type.productAttributes|length > 0 %}
                    {% set itemAttrs = [] %}
                    {% for productTypeAttribute in parentProduct.type.productAttributes %}
                        {% if productTypeAttribute.code == 'color' and lineItem.product.color %}
                            {% set itemAttrs = itemAttrs|merge(['(' ~ productTypeAttribute.name ~ ': ' ~ lineItem.product.color.name ~ ')']) %}
                        {% elseif productTypeAttribute.code == 'size' and lineItem.product.size %}
                            {% set itemAttrs = itemAttrs|merge(['(' ~ productTypeAttribute.name ~ ': ' ~ lineItem.product.size.name ~ ')']) %}
                        {% endif %}
                    {% endfor %}
                    {{ itemAttrs|join(' ') }}
                {% endif %}
            </td>
            <td class="col-price text-right valign-mid">
                {% set priceClasses = '' %}
                {% if priceData.hasDiscount %}
                    {% set priceClasses = 'text-red01' %}
                    <div class="price text-light-gray01 fs--8"><s>{{ app_currency }} {{ priceData.price|number_format(2, '.', ',') }}</s></div>
                {% endif %}
                <div class="price {{ priceClasses }}"><span class="currency">{{ app_currency }}</span> <span class="value">{{ priceData.finalPrice|number_format(2, '.', ',') }}</span></div>
            </td>
            <td class="col-qty text-center valign-mid">
                {{ lineItem.quantity }}
            </td>
            <td class="col-price text-right valign-mid">
                {% set priceClasses = '' %}
                {% if priceData.hasDiscount %}
                    {% set priceClasses = 'text-red01' %}
                    <div class="price text-light-gray01 fs--8"><s>{{ app_currency }} {{ priceData.subTotal|number_format(2, '.', ',') }}</s></div>
                {% endif %}
                <div class="price {{ priceClasses }}"><span class="currency">{{ app_currency }}</span> <span class="value">{{ priceData.finalSubTotal|number_format(2, '.', ',') }}</span></div>
            </td>
        </tr>
        {% endfor %}
        {# <tr class="bg-dark-gray text-white">
            <td colspan="3"></td>
            <td class="text-right fs-1_25">TOTAL</td>
            <td class="text-center"><div class="price fs-1_25"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.lineItemsFinalTotal|number_format(2, '.', ',') }}</span></div></td>
        </tr> #}
    </tbody>
</table>

<div class="row row-totals">
    <div class="col-lg-offset-8 col-lg-4 col-md-offset-8 col-md-4 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
        <table class="table table-striped table-layout1 table-order-totals">
            <tbody>
                <tr>
                    <td><strong>Subtotal</strong></td>
                    <td class="text-right"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.lineItemsFinalTotalPrice|number_format(2, '.', ',') }}</span></td>
                </tr>
                {% if orderTotals.giftWrapPrice is not empty and orderTotals.giftWrapPrice %}
                <tr>
                    <td><strong>Gift Wrap</strong></td>
                    <td class="text-right"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.giftWrapPrice|number_format(2, '.', ',') }}</span></td>
                </tr>
                {% endif %}
                <tr>
                    <td><strong>Shipping</strong></td>
                    <td class="text-right">
                        {% if orderTotals.shippingFee is defined and orderTotals.shippingFee > 0 %}
                        <span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.shippingFee|number_format(2, '.', ',') }}</span>
                        {% else %}
                        <strong>FREE</strong>
                        {% endif %}
                    </td>
                </tr>
                {% if orderTotals.discountTotal is defined and orderTotals.discountTotal > 0 %}
                <tr>
                    <td><strong>Promo Code Discount</strong></td>
                    <td class="text-right">
                        <span class="currency">- {{ app_currency }}</span> <span class="value">{{ orderTotals.discountTotal|number_format(2, '.', ',') }}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td><strong>Order Total</strong></td>
                    <td class="text-right"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.finalTotalPrice|number_format(2, '.', ',') }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>