{% extends 'AppBundle:Theme\\Store\\Default\\Layout:2_columns.html.twig' %}

{% block page_body_class %}{{ parent() }} page-2-columns-template{% endblock %}

{% block page_content_main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 co-md-3 col-sm-10 col-xs-10">
			{{ sonata_page_render_container('content_left') }}
			{{ sonata_page_render_container('content_left', 'global') }}
            {{ navigation|raw }}
        </div>
        <div class="col-lg-9 co-md-9 col-sm-12 col-xs-12">
            {{ include('AppBundle:Theme\\Store\\Default\\Common:page_title.html.twig', { customPageTitle: pageTitle|upper }) }}

            <div class="bg-white padding-4 margin-b-5">
                {{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}
                
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}

                <div class="form-wrapper margin-b-4">
                    {{ include('AppBundle:Theme\\Store\\Default\\Products:product_filter_form.html.twig') }}
                </div>

                <div id="{{ form.vars.id }}-products-results-list" class="results-list">
                    <div class="row">
                        {{ include('AppBundle:Theme\\Store\\Default\\Products:list.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sonata_page_asset_footer %}
{{ parent() }}
{{ include('AppBundle:Theme\\Store\\Default\\Products:scripts.html.twig') }}
{% endblock sonata_page_asset_footer %}