{% if productsPager.getCurrentPageResults() %}
    {% for product in productsPager.getCurrentPageResults() %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-b-4">
        <div class="product-item item">
            {% if product.parent %}
                {% set product = product.parent %}
            {% endif %}
            {% set productVariations = [product] %}
            {% set enabledColorVariations = product.getEnabledColorVariations() %}
            {% if enabledColorVariations|length > 0 %}
                {% set productVariations = enabledColorVariations %}
            {% endif %}
            <div class="thumb">
            {% set uniqueColorVariations = [] %}
            {% set ctr = 0 %}
            {% for productVariation in productVariations %}
                <a href="{{ path('app_store_product_view', { slug: productVariation.slug }) }}" {% if ctr > 0 %}style="display: none;"{% endif %} class="variation-part-{{ productVariation.id }}">
                    {% if productVariation.thumbnail %}
                        {% media productVariation.thumbnail, 'reference' with { class: 'img-responsive', title: productVariation.name, alt: productVariation.name } %}
                    {% else %}
                        <img src="{{ asset('bundles/app/theme/store/default/images/placeholder-01.jpg') }}" class="img-responsive" title="{{ productVariation.name }}" alt="{{ productVariation.name }}" />
                    {% endif %}
                </a>
                {% set uniqueColorVariations = ( productVariation.color and productVariation.color.id not in uniqueColorVariations ) ? uniqueColorVariations|merge([productVariation.color.id]) : uniqueColorVariations %}
                {% set ctr = ctr + 1 %}
            {% endfor %}
            </div>
            <div class="details text-center">
                {#<!-- Colors selection -->#}
                {% if uniqueColorVariations|length > 1 %}
                <div class="part01 color-selection">
                    {% set displayedColorIds = [] %}
                    {% set ctr = 0 %}
                    {% for productVariation in productVariations %}
                        {# {% if productVariation.color and productVariation.color.id not in displayedColorIds %} #}
                        {% if productVariation.color and productVariation.color.id not in displayedColorIds %}
                        <a href="#" style="background-color: {{ productVariation.color.hexCode }};" class="selector{{ ctr == 0 ? ' active' }}" data-target=".variation-part-{{ productVariation.id }}">&nbsp;</a>
                        {% endif %}
                        {% set displayedColorIds = productVariation.color ? displayedColorIds|merge([productVariation.color.id]) : displayedColorIds %}
                    {% set ctr = ctr + 1 %}
                    {% endfor %}
                </div>
                {% endif %}
                {% for productVariation in productVariations %}
                <div class="details-bottom variation-part-{{ productVariation.id }}" {% if not loop.first %}style="display: none;"{% endif %}>
                    <div class="part02">
                        <div class="valign-wrapper">
                            <div class="inner">
                                <div class="title"><a href="{{ path('app_store_product_view', { slug: productVariation.slug }) }}">{{ productVariation.name|upper }}</a></div>
                                {% set priceClasses = 'text-light-gray01' %}
                                {% set computedPrice = productVariation.computePrice() %}
                                {% if computedPrice < productVariation.price %}
                                    {% set priceClasses = 'text-red01' %}
                                <div class="price text-light-gray01 fs--8"><s>{{ app_currency }} {{ productVariation.price|number_format(2, '.', ',') }}</s></div>
                                {% endif %}
                                <div class="price {{ priceClasses }}">{{ app_currency }} {{ computedPrice|number_format(2, '.', ',') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="actions text-center">
                    {% set hasReservedStock = false %}
                    {% set remainingStock = 0 %}
                    {% if stocks[(productVariation.id)] is defined and stocks[(productVariation.id)] is iterable %}
                        {% set remainingStock = stocks[(productVariation.id)].less_reserved %}
                        {% if stocks[(productVariation.id)].reserved_stocks > 0 %}
                            {% set hasReservedStock = true %}
                        {% endif %}
                    {% else %}
                        {% set remainingStock = stocks[(productVariation.id)] %}   
                    {% endif %}

                    {% if not hasReservedStock and remainingStock <= 0 %}
                        <a href="#" class="btn btn-default disabled">OUT OF STOCK</a>
                    {% else %}
                        {% if addToCartForms[(productVariation.id)] is defined %}
                        {% set addToCartForm = addToCartForms[(productVariation.id)] %}
                        {{ form_start(addToCartForm, { attr: { action: path('app_store_product_view', { slug: productVariation.slug, redirect: path('app_store_products_list') }), novalidate: 'novalidate', id: addToCartForm.vars.id ~ '_addtocart_' ~ productVariation.id, class: (not addToCartForm.vars.valid ? 'not-valid') } }) }}
                            <button type="submit" class="btn btn-black">ADD TO CART <strong><i class="fa fa-angle-right">&nbsp;</i></strong></button>
                        {{ form_end(addToCartForm) }}
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
    {% if productsPager.hasNextPage() %}
    <div class="pager margin-b-0">
        {% set queryParams = app.request.query.all()|filter((v, k) => k != 'page')|merge({ page: productsPager.getNextPage() }) %}
        {% set loadMorePath = path('app_store_products_list', queryParams) %}
        {% if category %}
            {% set queryParams = queryParams|merge({ parentCategorySlug: category.parent.slug, categorySlug: category.slug }) %}
            {% set loadMorePath = path('app_store_products_category', queryParams) %}
        {% endif %}
        <a href="{{ loadMorePath }}" class="btn btn-dark-gray btn-block" data-nextpage="{{ productsPager.getNextPage() }}">Load More</a>
    </div>
    {% endif %}
{% else %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="messages messages--warning margin-b-0">
        <ul class="messages__list">
            <li class="messages__item">No results found.</li>
        </ul>
    </div>
</div>
{% endif %}