<div class="panel panel-default panel-layout1 margin-b-4">
    <div class="panel-heading">
        <h3 class="panel-title">CATEGORIES</h3>
    </div>
    <div class="panel-body bg-white padding-0">
        {{ knp_menu_render('product_categories', { currentClass: 'active', ancestorClass: 'open', template: 'AppBundle:Menu:menu_default.html.twig' }) }}
    </div>
</div>
{% set _hideFilterPanel = false %}
{% if hideFilterPanel is defined and hideFilterPanel == true %}
    {% set _hideFilterPanel = true %}
{% endif %}
{% if not _hideFilterPanel %}
<div class="panel panel-default panel-layout1 margin-b-4">
    <div class="panel-heading">
        <h3 class="panel-title">SHOP BY</h3>
    </div>
    <div class="panel-body bg-white padding-0">
        <ul class="products-nav nav-layout1">
            {% if priceOptions is not empty %}
            <li class="dropdown{% if productFilter.price %} open{% endif %}">
                <a href="#">Price <span class="caret"></span></a>
                <ul>
                {% for key, label in priceOptions %}
                    <li class="option {% if loop.first %}first{% elseif loop.last %}last{% endif %}{% if productFilter.price and productFilter.price == key %} active{% endif %}"><a href="#" data-target="#{{ form is defined ? form.price.vars.id }}" data-value="{{ key }}">{{ label }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if colorOptions is not empty %}
            <li class="dropdown{% if productFilter.color|length > 0 %} open{% endif %}">
                <a href="#">Color <span class="caret"></span></a>
                <ul class="cols-2">
                {% for color in colorOptions %}
                    {% set selected = false %}
                    {% for selectedColor in productFilter.color %}
                        {% if selectedColor.id == color.id %}
                            {% set selected = true %}
                        {% endif %}
                    {% endfor %}
                    <li class="option {% if loop.first %}first{% elseif loop.last %}last{% endif %}{% if productFilter.color and selected %} active{% endif %}"><a href="#" data-target="#{{ form is defined ? form.color.vars.id }}" data-value="{{ color.id }}">{{ color.name }}</a></li>
                    {% if loop.last and loop.index is odd %}
                    <li>&nbsp;</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if sizeOptions is not empty %}
            <li class="dropdown{% if productFilter.size %} open{% endif %}">
                <a href="#">Size <span class="caret"></span></a>
                <ul>
                {% for size in sizeOptions %}
                    <li class="option {% if loop.first %}first{% elseif loop.last %}last{% endif %}{% if productFilter.size and productFilter.size.id == size.id %} active{% endif %}"><a href="#" data-target="#{{ form is defined ? form.size.vars.id }}" data-value="{{ size.id }}">{{ size.name }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}