{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% set queryParams = app.request.query.all()|merge({ page: productsPager.getCurrentPage() }) %}
{% set formAction = path('app_store_products_list', queryParams) %}
{% if category %}
    {% set queryParams = queryParams|merge({ parentCategorySlug: category.parent.slug, categorySlug: category.slug }) %}
    {% set formAction = path('app_store_products_category', queryParams) %}
{% endif %}
{{ form_start(form, { attr: { action: formAction, novalidate: 'novalidate', id: form.vars.id, class: (not form.vars.valid ? 'not-valid') } }) }}

{{ form_errors(form) }}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="form-inline">
            <div class="form-group">
                {{ form_label(form.sort) }}
                {{ form_widget(form.sort, { attr: { class: 'select2-exclude' } }) }}
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    {# form_row(form.brand) #}
    {{ form_row(form.price) }}
    {{ form_row(form.color) }}
    {{ form_row(form.size) }}
    {# form_row(form.theme) #}
    {{ form_widget(form.submit, { attr: { class: 'btn btn-black' } }) }}
</div>

{{ form_end(form) }}