<script type="text/javascript">
(function ($) {

	$(document).ready(function(){
		$('#{{ form.vars.id }}').initProductFilterForm();
		$('#{{ form.vars.id }}-products-results-list').initProductResultsList();
		
		$('.products-nav li.dropdown > a').click(function(e){
			e.preventDefault();
			var _this = $(this);
			_this.siblings('ul').slideToggle('fast', 'swing', function(){
                _this.closest('li').toggleClass('open')
            });
		});

        $('.products-nav li.option > a').click(function(e){
			e.preventDefault();
			var _this = $(this);
			var target = $(_this.attr('data-target'));
			var value = _this.attr('data-value');

            if (target.length == 0) {
                return false;
            }

            if (target.attr('multiple')) {
                $(_this).closest('li').toggleClass('active');
                var selectedValue = target.val();
                if (!selectedValue) {
                    selectedValue = [];
                }
                if (!$(_this).closest('li').hasClass('active')) {
                    for (var i = 0; i < selectedValue.length; i++) { 
                        if (selectedValue[i] === value) {
                            selectedValue.splice(i, 1); 
                        }
                    }
                    value = selectedValue;
                } else {
                    value = selectedValue.concat([value]);
                }
            } else {
                $(_this).closest('li').siblings('li').removeClass('active');
                $(_this).closest('li').toggleClass('active');
                if (!$(_this).closest('li').hasClass('active')) {
                    value = null;
                }
            }

            $(target).val(value);            
            $(target).trigger('change');
		});
	});

	$.fn.initProductFilterForm = function() {
		var _this_form = $(this);

        $(_this_form.find('select')).each(function(i, o){
            $(o).select2({
                // dropdownCssClass: 'min-w-120',
                containerCss: {
                    'min-width': '120px'
                }
            });
        	$(o).on('change', function (e) {
                _this_form.submit();
            });
        });

        $(_this_form).submit(function(){
            $(this).processProductFilterForm();
            return false;
        });
	}

    $.fn.initProductResultsList = function() {
        var _this_results_list = $(this);
        var product_filter_form = $('#{{ form.vars.id }}');
        var pager = _this_results_list.find('.pager > a');

        $(pager).click(function(e){
            e.preventDefault();
            product_filter_form.processProductFilterForm(pager.attr('data-nextpage'));
        });

        $(_this_results_list.find('.color-selection .selector:not(.processed)')).addClass('processed').each(function(i, o){
            $(o).click(function(e){
                e.preventDefault();
                var _this = $(this);
                var target = $(_this.attr('data-target'));
                var parentWrapper = _this.closest('.product-item');
                parentWrapper.find('.thumb a, .details-bottom').hide();
                _this.parent().find('.selector').removeClass('active');
                _this.addClass('active');
                target.show();
            });
        });
    }

    $.fn.processProductFilterForm = function(page) {
        if (typeof page === "undefined") {
            page = {{ productsPager.getCurrentPage() }};
        }
		var _this_form = $(this);
		var form_parent = _this_form.closest('.form-wrapper');
		var results_list = form_parent.siblings('.results-list');

		_this_form.handleFormMultipleSubmission();

		var form_data = _this_form.serialize();
		if (_this_form.hasClass('not-valid')) {
			form_data = form_data + '&validate=1';
		}
        form_data = form_data + '&page=' + page;

		$.ajax({
            type: _this_form.attr('method'),
            url: _this_form.attr('action'),
            dataType: "json",
            data: form_data
        })
        .done(function(response) {
        	if (typeof response.form_html !== "undefined") {
        		var new_form = $(response.form_html);
        		_this_form.replaceWith(new_form);
        		new_form.initProductFilterForm();
        	}
        	if (typeof response.results_list_html !== "undefined") {
                if (page > 1) {
                    results_list.find('.pager').remove();
                    results_list.find('.row').append(response.results_list_html);
                } else {
                    results_list.find('.row').html(response.results_list_html);
                }
                results_list.initProductResultsList();
        	}
        	$.unblockUI();
        })
        .fail(function() {
			$.blockUI({ 
	            message: '<div class="messages messages--error"><ul class="messages__list"><li class="messages__item"><small>An error occured while processing your request. Please contact administrator.</small></li></ul></div>', 
	            timeout: 3000,
	            css: {
					border: 'none', 
			 		backgroundColor: 'transparent',
		 			left: '50%',
			 		marginLeft: '-150px',
			 		width: '300px',
			 	},
                overlayCSS:  { 
                    backgroundColor: '#ffffff', 
                    opacity: 0.6, 
                    cursor: 'wait'
                }
	        });
			_this_form.removeClass('processing');
        });
	}

})(jQuery);
</script>