{% extends 'AppBundle:Theme\\Store\\Default\\Layout:default.html.twig' %}

{% block page_body_class %}{{ parent() }} page-2-columns-template{% endblock %}

{% block page_flash_message %}{% endblock page_flash_message %}

{% block page_content_main %}
<div class="container-fluid padding-t-5 padding-b-5">
    <div class="row">
        <div class="col-lg-3 co-md-3 col-sm-10 col-xs-10">
            {{ sonata_page_render_container('content_left') }}
			{{ sonata_page_render_container('content_left', 'global') }}
        </div>
        <div class="col-lg-9 co-md-9 col-sm-12 col-xs-12">
            {{ include('AppBundle:Theme\\Store\\Default\\Common:page_title.html.twig') }}

            {#<!--<div class="page-title margin-b-3">
                <div class="bar">&nbsp;</div>
                <h1 class="fs-1">HOME</h1>
            </div>-->#}
            <div class="bg-white padding-4">
                {{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}
            </div>

            {% if content is defined %}
                {{ content|raw }}
            {% else %}
                {% set content = block('content') is defined ? block('content') : '' %}
                {% if content|length > 0 %}
                    {{ content|raw }}
                {% elseif page is defined %}
                    {{ sonata_page_render_container('content', page) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}