{% extends 'AppBundle:Theme\\Store\\Default\\Layout:default.html.twig' %}

{% block page_title %}{% endblock %}
{% block content_wrapper_start %}{% endblock content_wrapper_start %}
{% block content_wrapper_end %}{% endblock content_wrapper_end %}

{% block page_content_main_inner %}
<style>
.main-slider .slick-prev {
    top: auto;
    left: auto;
    right: 70px;
    bottom: 35px;
    z-index: 1;
}
.main-slider .slick-prev:before {
    content: "\f053";
    font-size: 50px;
    font-family: 'FontAwesome';
}
.main-slider .slick-next {
    top: auto;
    left: auto;
    right: 30px;
    bottom: 35px;
    z-index: 1;
}
.main-slider .slick-next:before {
    content: "\f054";
    font-size: 50px;
    font-family: 'FontAwesome';
}
.main-slider .slick-slide > div > div {
    border: 2px solid #474747;
}
.main-slider .slick-slide > div > div > a > img {
    max-width: 100%; 
}
</style>
<div class="main-slider margin-b-3">
    <div>
        <a href="#"><img src="{{ asset('bundles/app/theme/store/default/images/dummy-grayscale-01.jpg') }}" alt="" title="" /></a>
    </div>
    <div>
        <a href="#"><img src="{{ asset('bundles/app/theme/store/default/images/dummy-grayscale-02.jpg') }}" alt="" title="" /></a>
    </div>
    <div>
        <a href="#"><img src="{{ asset('bundles/app/theme/store/default/images/dummy-grayscale-03.jpg') }}" alt="" title="" /></a>
    </div>
</div>
{{ parent() }}
{% endblock page_content_main_inner %}

{% block sonata_page_asset_footer %}
{{ parent() }}
<script type="text/javascript">
(function ($) {

    $('.main-slider').slick({
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        adaptiveHeight: true
    });

})(jQuery);
</script>
{% endblock sonata_page_asset_footer %}