{% extends 'AppBundle:Theme\\Store\\Default\\Layout:default.html.twig' %}

{% block content_wrapper_start %}{% endblock content_wrapper_start %}
{% block content_wrapper_end %}{% endblock content_wrapper_end %}