<script type="text/javascript">
(function ($) {

	$(document).ready(function(){
		$.fn.initAddressFields();
		$('#{{ form.vars.id }}').initBillingInfoForm();
	});

	$.fn.initBillingInfoForm = function() {
		var _this_form = $(this);
		_this_form.find('input[type="radio"]:not(.icheck-exclude, .icheck-exclude input),input[type="checkbox"]:not(.icheck-exclude, .icheck-exclude input)').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });
        _this_form.find('select:not(.select2-exclude select, .select2-exclude)').select2();

        $(_this_form.find('.inputmask-int')).each(function(i, o){
        	$(o).inputmask({ alias: 'integer', rightAlign: false, allowMinus: false });
        });
        
        $(_this_form.find('.inputmask-email')).each(function(i, o){
        	$(o).inputmask({ alias: 'email', clearIncomplete: true, removeMaskOnSubmit: true, placeholder: "" });
        });
        
        $(_this_form.find('.inputmask-mobile')).each(function(i, o){
        	$(o).inputmask({ mask: '9999 999 9999', removeMaskOnSubmit: true });
        });
        
        $(_this_form.find('.inputmask-landline')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*" });
        });
        
        $(_this_form.find('.inputmask-zipcode')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*" });
        });
	}

	$.fn.initAddressFields = function() {
		$('.region-field:not(.processed)').addClass('processed').each(function(i, o){
			$(o).change(function(){
				var target_element = $($(o).attr('data-target'));
				target_element.val('');
				target_element.change();
				target_element.prop('disabled', true);
				$(o).closest('form').refreshBillingInfoForm();
			});
		});
	}

	$.fn.refreshBillingInfoForm = function() {
		var _this_form = $(this);
		var _form_parent = _this_form.closest('.form-wrapper');

		_this_form.handleFormMultipleSubmission();

		var form_data = _this_form.serialize();
		if (_this_form.hasClass('not-valid')) {
			form_data = form_data + '&validate=1';
		}

		$.ajax({
            type: _this_form.attr('method'),
            url: '{{ path('app_user_billing_info_refresh_form') }}',
            dataType: "json",
            data: form_data
        })
        .done(function(response) {
        	if (typeof response.form_html !== "undefined") {
        		var new_form = $(response.form_html);
        		_this_form.replaceWith(new_form);
        		new_form.initBillingInfoForm();
        		new_form.initAddressFields();
        	}
        	$.unblockUI();
        })
        .fail(function() {
			$.blockUI({ 
	            message: '<div class="messages messages--error"><ul class="messages__list"><li class="messages__item">An error occured while processing your request. Please contact administrator.</li></ul></div>', 
	            timeout: 2000,
	            css: { 
					border: 'none', 
			 		backgroundColor: 'transparent',
		 			left: '50%',
			 		marginLeft: '-150px',
			 		width: '300px',
			 	}
	        });
			_this_form.removeClass('processing');
        });
	}

})(jQuery);
</script>