{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="row">
    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
        {{ form_start(form, { method: 'post', action: path('app_user_billing_info_edit'), 'attr': { id: form.vars.id, class: 'form-billing-info-edit form-horizontal-row-fields', novalidate: true } } ) }}

        <div class="form-group {% if form.firstName.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-mid col-label">
                    {{ form_label(form.firstName, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.firstName, { attr: {} }) }}
                </div>
            </div>
            {% if form.firstName.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.firstName) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.lastName.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-mid col-label">
                    {{ form_label(form.lastName, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.lastName, { attr: {} }) }}
                </div>
            </div>
            {% if form.lastName.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.lastName) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group form-group-address1 {% if form.address1.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-top col-label">
                    {{ form_label(form.address1, null, { attr: {} }) }}
                </div>
                <div class="valign-top col-field">
                    {{ form_widget(form.address1, { attr: {} }) }}
                </div>
            </div>
            {% if form.address1.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-top col-label">&nbsp;</div>
                <div class="valign-top col-field">
                    {{ form_errors(form.address1) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.address2.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-top col-label">
                    {{ form_label(form.address2, null, { attr: {} }) }}
                </div>
                <div class="valign-top col-field">
                    {{ form_widget(form.address2, { attr: {} }) }}
                </div>
            </div>
            {% if form.address2.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.address2) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.postalCode.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-mid col-label">
                    {{ form_label(form.postalCode, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.postalCode, { attr: { class: 'inputmask-zipcode' } }) }}
                </div>
            </div>
            {% if form.postalCode.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.postalCode) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.region.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-mid col-label">
                    {{ form_label(form.region, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {% set attr = { class: 'region-field', 'data-target': '#' ~ form.city.vars.id } %}
                    {{ form_widget(form.region, { attr: attr }) }}
                </div>
            </div>
            {% if form.region.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.region) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.city.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-mid col-label">
                    {{ form_label(form.city, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.city, { attr: {} }) }}
                </div>
            </div>
            {% if form.city.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.city) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.contactNumber.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl">
                <div class="valign-mid col-label">
                    {{ form_label(form.contactNumber, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.contactNumber, { attr: { class: 'inputmask-mobile' } }) }}
                </div>
            </div>
            {% if form.contactNumber.vars.errors|length > 0 %}
            <div class="tbl">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.contactNumber) }}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                {{ form_errors(form) }}
                {# <input type="submit" class="btn btn-black" value="{{ 'registration.submit'|trans|upper }}" /> #}
                <div class="text-center">
                    <input type="submit" class="btn btn-black" value="{{ 'Save Changes'|trans|upper }}" />
                </div>
            </div>
        </div>
        
        {{ form_end(form) }}
    </div>
</div>