{% extends 'AppBundle:Theme\\Store\\Default\\Layout:2_columns.html.twig' %}

{% block page_content_main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 co-md-3 col-sm-10 col-xs-10">
			{{ sonata_page_render_container('content_left') }}
			{{ sonata_page_render_container('content_left', 'global') }}
            {{ include('AppBundle:Theme\\Store\\Default\\Common:user_sidebar_menu.html.twig') }}
        </div>
        <div class="col-lg-9 co-md-9 col-sm-12 col-xs-12">
            {% set pageTitle = null %}
            {% if page.page is defined %}
                {% set pageTitle = page.page.name %}
            {% elseif page is defined %}
                {% set pageTitle = page.name %}
            {% endif %}
            {% if pageTitle is not empty %}
            <div class="page-title margin-b-3">
                <div class="bar">&nbsp;</div>
                <h1 class="fs-1">{{ pageTitle }}</h1>
            </div>
            {% else %}
            <div class="page-title margin-b-3">
                <div class="bar">&nbsp;</div>
                <h1 class="fs-1">My Account</h1>
            </div>
            {% endif %}

            <div class="bg-white padding-4 margin-b-5">
                {% for message in app.session.flashBag.get('success') %}
                    <div class="messages messages--status">
                        <ul class="messages__list">
                            <li class="messages__item">{{ message|raw }}</li>
                        </ul>
                    </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('info') %}
                    <div class="messages messages--info">
                        <ul class="messages__list">
                            <li class="messages__item">{{ message|raw }}</li>
                        </ul>
                    </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('error') %}
                    <div class="messages messages--error">
                        <ul class="messages__list">
                            <li class="messages__item">{{ message|raw }}</li>
                        </ul>
                    </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('warning') %}
                    <div class="messages messages--warning">
                        <ul class="messages__list">
                            <li class="messages__item">{{ message|raw }}</li>
                        </ul>
                    </div>
                {% endfor %}

                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}

                {% trans_default_domain 'FOSUserBundle' %}
                {% form_theme form 'AppBundle:Form:fields.html.twig' %}

                {{ form_start(form, { action: path('fos_user_profile_edit'), 'attr': { class: 'form-profile-edit', novalidate: true  } }) }}

                <div class="form-group {% if form.firstname.vars.errors|length > 0 %}has-error{% endif %}">
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">
                            {{ form_label(form.firstname, null, { attr: {} }) }}
                        </div>
                        <div class="valign-mid col-field">
                            {{ form_widget(form.firstname, { attr: {} }) }}
                        </div>
                    </div>
                    {% if form.firstname.vars.errors|length > 0 %}
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">&nbsp;</div>
                        <div class="valign-mid col-field">
                            {{ form_errors(form.firstname) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.middlename.vars.errors|length > 0 %}has-error{% endif %}">
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">
                            {{ form_label(form.middlename, null, { attr: {} }) }}
                        </div>
                        <div class="valign-mid col-field">
                            {{ form_widget(form.middlename, { attr: {} }) }}
                        </div>
                    </div>
                    {% if form.middlename.vars.errors|length > 0 %}
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">&nbsp;</div>
                        <div class="valign-mid col-field">
                            {{ form_errors(form.middlename) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.lastname.vars.errors|length > 0 %}has-error{% endif %}">
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">
                            {{ form_label(form.lastname, null, { attr: {} }) }}
                        </div>
                        <div class="valign-mid col-field">
                            {{ form_widget(form.lastname, { attr: {} }) }}
                        </div>
                    </div>
                    {% if form.lastname.vars.errors|length > 0 %}
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">&nbsp;</div>
                        <div class="valign-mid col-field">
                            {{ form_errors(form.lastname) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group form-group-dateofbirth {% if form.dateOfBirth.vars.errors|length > 0 %}has-error{% endif %}">
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">
                            {{ form_label(form.dateOfBirth, null, { attr: {} }) }}
                        </div>
                        <div class="valign-mid col-field">
                            {{ form_widget(form.dateOfBirth, { attr: {} }) }}
                        </div>
                    </div>
                    {% if form.dateOfBirth.vars.errors|length > 0 %}
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">&nbsp;</div>
                        <div class="valign-mid col-field">
                            {{ form_errors(form.dateOfBirth) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.gender.vars.errors|length > 0 %}has-error{% endif %}">
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">
                            {{ form_label(form.gender, null, { attr: {} }) }}
                        </div>
                        <div class="valign-mid col-field">
                            {{ form_widget(form.gender, { attr: {} }) }}
                        </div>
                    </div>
                    {% if form.gender.vars.errors|length > 0 %}
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">&nbsp;</div>
                        <div class="valign-mid col-field">
                            {{ form_errors(form.gender) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <br />
                <br />
                <div class="form-group {% if form.email.vars.errors|length > 0 %}has-error{% endif %}">
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">
                            {{ form_label(form.email, null, { attr: {} }) }}
                        </div>
                        <div class="valign-mid col-field">
                            {{ form_widget(form.email, { attr: {} }) }}
                        </div>
                    </div>
                    {% if form.email.vars.errors|length > 0 %}
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">&nbsp;</div>
                        <div class="valign-mid col-field">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.current_password.vars.errors|length > 0 %}has-error{% endif %}">
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">
                            {{ form_label(form.current_password, null, { attr: {} }) }}
                        </div>
                        <div class="valign-mid col-field">
                            {{ form_widget(form.current_password, { attr: {} }) }}
                        </div>
                    </div>
                    {% if form.current_password.vars.errors|length > 0 %}
                    <div class="tbl block-centered">
                        <div class="valign-mid col-label">&nbsp;</div>
                        <div class="valign-mid col-field">
                            {{ form_errors(form.current_password) }}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                        {{ form_errors(form) }}
                        {# <input type="submit" class="btn btn-black" value="{{ 'registration.submit'|trans|upper }}" /> #}
                        <div class="text-center">
                            <input type="submit" class="btn btn-black" value="{{ 'profile.edit.submit'|trans|upper }}" />
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sonata_page_asset_footer %}
{{ parent() }}
{% endblock sonata_page_asset_footer %}