{% for message in app.session.flashBag.get('success') %}
    <div class="messages messages--status">
        <ul class="messages__list">
            <li class="messages__item">{{ message|raw }}</li>
        </ul>
    </div>
{% endfor %}
{% for message in app.session.flashBag.get('info') %}
    <div class="messages messages--info">
        <ul class="messages__list">
            <li class="messages__item">{{ message|raw }}</li>
        </ul>
    </div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
    <div class="messages messages--error">
        <ul class="messages__list">
            <li class="messages__item">{{ message|raw }}</li>
        </ul>
    </div>
{% endfor %}
{% for message in app.session.flashBag.get('warning') %}
    <div class="messages messages--warning">
        <ul class="messages__list">
            <li class="messages__item">{{ message|raw }}</li>
        </ul>
    </div>
{% endfor %}