{% set pageTitle = customPageTitle is defined ? customPageTitle : null %}
{% if pageTitle is empty and page is defined %}
    {% if page.page is defined %}
        {% set pageTitle = page.page.name %}
    {% else %}
        {% set pageTitle = page.name %}
    {% endif %}
{% endif %}
{% if pageTitle is not empty %}
<div class="page-title margin-b-3">
    <div class="bar">&nbsp;</div>
    <h1 class="fs-1">{{ pageTitle }}</h1>
</div>
{% endif %}