@media (max-width: 767px) {

}
@media (max-width: 768px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1158px) {
	/* general */
    body {
        /*padding-bottom: 62px;*/
    }
}
@media (min-width: 992px) and (max-width: 1999px) {

}
@media (min-width: 1200px) {

}