@media (min-width: 1200px) {
	/* alignment */
	.text-center-xs {
	  text-align: left;
	}
	.text-center-sm {
	  text-align: left;
	}
	.text-center-md {
	  text-align: left;
	}
	.text-center-lg {
	  text-align: center;
	}
}