@media (min-width: 992px) {
    /* general */
    html {
        font-size: 14px;
    }
    body {
	    font-size: 14px;
	    /*padding-bottom: 72px;*/
    }

    /* header */
    .header-nav .navbar-nav > li {
        height: 60px;
    }
}