@media (min-width: 321px) {
}

@media (min-width: 480px) {
}

@media (min-width: 481px) {
}

@media (min-width: 768px) {
    /* general */
    body {
        /*padding-bottom: 156px;*/
    }

    /* grid */
    .row-col-p5 .col-left {
        padding-right: 5px;
    }
    .row-col-p5 .col-right {
        padding-left: 5px;
    }
    .row-col-p5 .col-mid {
        padding-left: 5px;
        padding-right: 5px;
    }
}