html {
    height: 100%;
    font-size: 14px;
}
body {
    padding: 0px 0px 0px 0px;
    /*padding-bottom: 241px;*/
    margin: 0px;
    color: #1b1b1b;
    position: relative;
    min-height: 100%;
    /*line-height: 1.5em;*/
    background: #fafafa;
    font-family: 'open_sansregular';
    font-size: 14px;
}
body > iframe {
    display: none;
}
img {
    -webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}
img, object, video {
    height: auto;
    max-height: 100%;
}
b, strong {
    font-weight: normal;
    font-family: 'open_sansbold';
}
h1, h2, h3, h4, h5 {
    font-family: 'open_sansbold';
}

/* bootstrap */
.container-fluid {
    max-width: 1200px;
}

/* link */
a {
    color: #1b1b1b;
    -webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}
a:focus, a:hover {
    color: #828282;
    text-decoration: none;
}

/* select2 */
.select2-container {
    max-width: 100%;
    width: 100% !important;
    text-align: left;
    /*min-width: 150px;*/
    min-width: auto;
}
body > .select2-container {
    width: auto !important;
    min-width: 150px;
    z-index: 2;
}
.form-inline .select2-container {
    width: auto !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px;
    background: #fafafa;
    border: 1px solid #cdcdcd;
    height: 40px;
    line-height: 40px;
    padding-right: 24px;
}
.select2-container--default .select2-big {
    height: 45px;
    line-height: 43px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.select2-container--default .select2-selection--single:focus {
    outline: none;
}
.has-error .select2-container--default .select2-selection--single {
    border-color: #ffe4e2;
    background-color: #fff3f3;
}
.has-success .select2-container--default .select2-selection--single {
    border-color: #3c763d;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    padding: 0px 16px;
    color: #1b1b1b;
}
.select2-container--default .select2-big.select2-selection--single .select2-selection__rendered {
    line-height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 40px;
    height: 38px;
    background: url('../images/drop-down.png') center center no-repeat;
}
.select2-container--default .select2-big .select2-selection__arrow { 
    height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    visibility: hidden;
}
.select2-dropdown {
    border-radius: 0px;
    z-index: 1 !important;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
}
.select2-container--open .select2-selection--single {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.select2-dropdown--below {
    top: 4px;
}
.select2-dropdown--above {
    top: -3px;
}
.select2-container--open .select2-dropdown--below {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.select2-container--open .select2-dropdown--above {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.select2-container--open .select2-dropdown {
    border: 1px solid #f7f7f7;
    border: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #cdcdcd;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.select2-results {
    padding: 0px 5px 5px 5px;
}
.select2-results__option {
/*padding: 6px 10px;*/
/*    height: 26px;*/
    overflow: hidden;
    line-height: 26px;
    padding: 0px 10px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted {
    background-color: #1b1b1b;
}
.select2-lg-dd {
    font-size: 1.1em;
    line-height: 1em;
    min-width: 190px !important;
}
.select2-lg-dd .select2-results__options li {
    padding: 0px 10px;
}
.select2-hide-search .select2-search--dropdown {
    display: none;
}
.select2-hide-search .select2-results {
    padding: 10px 5px 10px 5px;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #e8e8e8;
    cursor: not-allowed;
}

/* grid */
.row-col-p5 .col-left {
    padding-right: 15px;
}
.row-col-p5 .col-right {
    padding-left: 15px;
}
.row-col-p5 .col-mid {
    padding-left: 15px;
    padding-right: 15px;
}

/* buttons */
.btn {
    transition: all 0.2s ease;
    padding: 11px 20px;
    font-family: 'open_sansbold';
    border-radius: 0px;
    font-size: .9rem;
    /*padding: 19px 30px;
    min-width: 181px;
    font-size: 1em;
    border-radius: 31px;
    -webkit-transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
    -moz-transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
    -o-transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
    transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;*/
}
.btn:focus {
    outline: 0;
}
.btn-black {
    background: #1b1b1b;
    border-color: #1b1b1b;
    color: #f2f2f2 !important;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-black:active:hover, 
.btn-black.active:hover, 
.btn-black:active:focus, 
.btn-black.active:focus,
.btn-black:active.focus, 
.btn-black.active.focus {
    background: #e6e6e6 !important;
    border-color: #adadad !important;
    color: #1b1b1b !important;
}
.btn-red {
    background: #C32424;
    border-color: #C32424;
    color: #ffffff !important;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:hover, 
.btn-red.active:hover, 
.btn-red:active:focus, 
.btn-red.active:focus,
.btn-red:active.focus, 
.btn-red.active.focus {
    background: #a21e1e !important;
    border-color: #a21e1e !important;
    color: #ffffff !important;
}
.btn-dark-red {
    background: #DA291C;
    border-color: #DA291C;
    color: #ffffff !important;
    padding: 7px 20px;
    transition: all 0.2s ease;
}
.btn-dark-red:hover,
.btn-dark-red:active,
.btn-dark-red:focus,
.btn-dark-red:active:hover, 
.btn-dark-red.active:hover, 
.btn-dark-red:active:focus, 
.btn-dark-red.active:focus,
.btn-dark-red:active.focus, 
.btn-dark-red.active.focus {
    background: #a21e1e !important;
    border-color: #a21e1e !important;
    color: #ffffff !important;
}
.btn-dark-gray {
    background: #989898;
    border-color: #989898;
    color: #ffffff !important;
    padding: 7px 20px;
    transition: all 0.2s ease;
}
.btn-dark-gray:hover,
.btn-dark-gray:active,
.btn-dark-gray:focus,
.btn-dark-gray:active:hover, 
.btn-dark-gray.active:hover, 
.btn-dark-gray:active:focus, 
.btn-dark-gray.active:focus,
.btn-dark-gray:active.focus, 
.btn-dark-gray.active.focus {
    background: #e6e6e6 !important;
    border-color: #adadad !important;
    color: #1b1b1b !important;
}
.btn-light-blue {
    background: #009CDE;
    border-color: #009CDE;
    color: #ffffff !important;
}
.btn-light-blue:hover,
.btn-light-blue:active,
.btn-light-blue:focus,
.btn-light-blue:active:hover, 
.btn-light-blue.active:hover, 
.btn-light-blue:active:focus, 
.btn-light-blue.active:focus,
.btn-light-blue:active.focus, 
.btn-light-blue.active.focus {
    background: #027baf !important;
    border-color: #027baf !important;
    color: #ffffff !important;
}
.btn-blue {
    background: #4267b2;
    border-color: #4267b2;
    color: #ffffff !important;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:active:hover, 
.btn-blue.active:hover, 
.btn-blue:active:focus, 
.btn-blue.active:focus,
.btn-blue:active.focus, 
.btn-blue.active.focus {
    background: #29487d !important;
    border-color: #29487d !important;
    color: #ffffff !important;
}
.btn-white {
    background: #ffffff;
    border-color: #ffffff;
    color: #606060 !important;
}
.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-white:active:hover, 
.btn-white.active:hover, 
.btn-white:active:focus, 
.btn-white.active:focus,
.btn-white:active.focus, 
.btn-white.active.focus {
    background: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
    color: #3e3e3e !important;
}
.btn-white.btn-bordered {
    border-color: #606060 !important;
}
.btn-white.btn-bordered:hover,
.btn-white.btn-bordered:active,
.btn-white.btn-bordered:focus,
.btn-white.btn-bordered:active:hover, 
.btn-white.btn-bordered.active:hover, 
.btn-white.btn-bordered:active:focus, 
.btn-white.btn-bordered.active:focus,
.btn-white.btn-bordered:active.focus, 
.btn-white.btn-bordered.active.focus {
    border-color: #606060 !important;
}
.btn-lg {
    font-size: 1rem;
    padding: 15px 21px;
}
.btn-md {
    font-size: 1rem;
    padding: 10px 21px;
}

/* form */
form {
    /*color: #606060;*/
}
.form-group {
    margin-bottom: 20px;
}
.form-group > label {
    font-family: 'open_sansbold';
}
form label .asterisk {
    color: #db1f1f;
    margin-left: 5px;
}
.form-control {
    border: 1px solid #cdcdcd;
    height: 40px;
    border-radius: 0px;
    padding: 6px 16px;
    font-size: 1em;
    color: #1b1b1b;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fafafa;
}
.form-control:focus {
    border-color: #cdcdcd;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-inline .control-label {
    margin-right: 7px;
}
/*.form-control:focus {
    border-color: #E20025;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}*/
textarea.form-control {
    min-height: 200px;
    resize: none;
    border-radius: 0px;
    padding: 12px 16px;
}
.radiolist li {
    position: relative;
    border: 1px solid #EAEBED;
    border-bottom: 0px;
}
.radiolist li.first {
    border-radius: 5px 5px 0px 0px;
}
.radiolist li.last {
    border-bottom: 1px solid #EAEBED;
    border-radius: 0px 0px 5px 5px;
}
.radiolist li label {
    width: 100%;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
}
.radiolist li .iradio_minimal {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}
.radiolist li .active {
    background: #EAEBED;
}
.radiolist li:hover label {
    background: #fbfbfb;
}
.radio label, .checkbox label {
    line-height: 1rem;
    padding-left: 8px;
}
.list-inline-choices li {
    margin-right: 20px;
}
.iradio_minimal {
    background: #fff;
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    border: 2px solid #d7d7d7;
    border-radius: 8px;
    margin-top: 3px;
}
.iradio_minimal.checked:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #1b1b1b;
    border-radius: 5px;
    position: absolute;
    left: 2px;
    top: 2px;
}
.icheckbox_minimal {
    background: #1b1b1b;
    width: 14px;
    height: 14px;
    float: left;
    cursor: pointer;
    border: 1px solid #1b1b1b;
    border-radius: 2px;
    margin-top: 4px;
}
.icheckbox_minimal.checked:before {
    width: 5px;
    height: 10px;
    position: absolute;
    left: 4px;
    top: 0px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}
.has-error .checkbox, 
.has-error .checkbox-inline, 
.has-error .control-label, 
.has-error .help-block, 
.has-error .radio, 
.has-error .radio-inline, 
.has-error.checkbox label, 
.has-error.checkbox-inline label, 
.has-error.radio label, .has-error.radio-inline label {
    color: #a51b00;
}
.has-error .form-control {
    border-color: #ffe4e2;
    background-color: #fff3f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.has-error .form-control:focus {
    border-color: #ffe4e2;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.file-upload .form-group {
    display: table;
    width: 100%;
}
.file-upload .col1 {
    width: 100%;
    padding-right: 0px;
    display: table-cell;
    vertical-align: middle;
}
.file-upload .col2 {
    display: table-cell;
    vertical-align: middle;
}
.file-upload .form-control {
    width: 100%;
    float: none;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 45px !important;
    padding-right: 0px;
    word-wrap: break-word;
}
.has-error .file-upload .form-control {
    border-right: none !important;
}
.file-upload .form-control .fileinput-filename {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-upload .input-group-addon {
    width: 50px !important;
    border-radius: 0px 24px 24px 0px;
    padding-left: 15px;
    padding-right: 20px;
    cursor: pointer;    
    padding: 0px !important;
    border: 0px;
    background: #f4f4f4 !important;
}
.has-error .file-upload .input-group-addon {
    border: 1px solid #ffe4e2;
    border-left: none !important;
    background-color: #FFF3F2 !important;
}
.file-upload .fa-upload {
    width: 100%;
    padding-left: 15px;
    padding-right: 20px;
    height: 45px;
    line-height: 45px;
}
.file-upload .remove-file {
    color: #555;
    width: 100%;
    padding-left: 15px;
    padding-right: 20px;
    height: 45px;
    line-height: 45px;
}
.file-upload.fileinput-exists .fa-upload {
    display: none;
}
.file-upload.fileinput-new .remove-file {
    display: none;
}
.text-count-message {
    color: #b1b1b1 !important;
}

/* horizontal form row */
.form-horizontal-row-fields .col-label {
    width: 170px;
    padding-right: 20px;
    text-align: right;
}
.form-horizontal-row-fields .col-field {
    width: 400px;
}
.form-horizontal-row-fields .col-field input[type="text"],
.form-horizontal-row-fields .col-field input[type="email"],
.form-horizontal-row-fields .col-field input[type="password"] {
    width: 100%;
}
.form-horizontal-row-fields .form-group-dateofbirth .form-inline .select2-container {
    margin-right: 5px;
}

/* modal */
/*.modal-type1 .modal-content {
    border-radius: 0px;
    font-size: 14px;
}
.modal-lg {
    max-width: 1200px;
}
.modal-type1 .modal-body {
    padding: 20px;
    line-height: 1.5em;
}
.modal-type1 .modal-footer {
    text-align: center;
    border-top: 0px;
    padding-bottom: 40px;
}*/

/* nicescroll */
.content-scrollable {
    padding-right: 15px;
}

/* text counter */
.text-count-wrapper {
    margin-top: 5px;
}
.text-count-message {
    color: #EAEBED;
}

/* hr */
.hr-white {
    border-color: #ffffff;
}

/* divider */
.divider-layout1 {
    border-bottom: 9px solid #EE2E24;
    width: 100%;
}

/* table */
.table-responsive {
    border: none;
}
td, th {
    padding: 0.5rem 1.5rem;
}
.table-layout1 {

}
.table-layout1 thead tr {
    background-color: #989898;
}
.table-layout1 > tbody > tr:nth-of-type(odd) {
    background-color: #FAFAFA;
}
.table-layout1 > tbody > tr {
    background-color: #ececec;
}
.table-layout1 thead th {
    text-align: center;
    color: #ffffff;
}
.table-layout1 > tbody > tr > td {
    border-color: #ffffff;
    padding: 20px;
}
.table-layout1 tr > .col-actions {
    width: 100px;
}
.table-layout1 tr > .col-img {
    width: 180px;
}
.table-layout1 tr > .col-name {
    width: 40%;
    text-align: left !important;
}
.table-layout1 tr > .col-qty {
    width: 120px;
}
.table-layout1 tr > .col-price {
    width: 170px;
}
.table-layout1 tr > .col-actions a {
    font-size: 20px;
}
.table-layout1 .product-img {
    max-width: 100px;
    margin: 0 auto;
}
.table-layout1 .field-qty {
    width: 60px;
    margin: 0 auto;
    text-align: center;
}

/* blockui */
.blockUI.blockOverlay {
    z-index: 999999;
}
.blockUI.blockOverlay {
    z-index: 999999 !important;
}
.blockUI.blockMsg, .blockUI.blockPage {
    z-index: 9999999 !important;
}

/* section */
.section {
    background: #ffffff;
    padding: 35px 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
}
.section-layout1 {
}
.section-layout2 {
}
.section-title {
    font-size: 2.5rem;
    margin-top: 0px;
}

/* table */
.table-responsive .table {
    max-width: none;
    -webkit-overflow-scrolling: touch !important;
}

/* messages */
.messages {
    background: no-repeat 10px 15px;  /* LTR */
    border: 1px solid;
    border-width: 1px 1px 1px 0;  /* LTR */
    border-radius: 2px;
    padding: 15px 20px 15px 35px; /* LTR */
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: 8px;
    margin-bottom: 15px;
}
[dir="rtl"] .messages {
    border-width: 1px 0 1px 1px;
    background-position: right 10px top 17px;
    padding-left: 20px;
    padding-right: 35px;
    text-align: right;
}
.messages + .messages {
    margin-top: 1.538em;
}
.messages__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.messages__item + .messages__item {
    margin-top: 0.769em;
}
.messages--info {
    color: #31708f;
    background-color: #d9edf7;
    padding-left: 15px;
    border-color: #bce8f1 #bce8f1 #bce8f1 transparent;  /* LTR */
    box-shadow: -8px 0 0 #3481a7; /* LTR */
}
[dir="rtl"] .messages--info {
    border-color: #bce8f1 transparent #bce8f1 #bce8f1;
    box-shadow: 8px 0 0 #3481a7;
    margin-left: 0;
}
/* See .color-success in Seven's colors.css */
.messages--status {
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;  /* LTR */
    background-image: url(../images/icons/check.svg);
    box-shadow: -8px 0 0 #77b259; /* LTR */
}
[dir="rtl"] .messages--status {
    border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
    box-shadow: 8px 0 0 #77b259;
    margin-left: 0;
}
/* See .color-warning in Seven's colors.css */
.messages--warning {
    background-color: #fdf8ed;
    background-image: url(../images/icons/warning.svg);
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent;  /* LTR */
    color: #734c00;
    box-shadow: -8px 0 0 #e09600; /* LTR */
}
[dir="rtl"] .messages--warning {
    border-color: #f4daa6 transparent #f4daa6 #f4daa6;
    box-shadow: 8px 0 0 #e09600;
}
/* See .color-error in Seven's colors.css */
.messages--error {
    background-color: #fcf4f2;
    color: #a51b00;
    background-image: url(../images/icons/error.svg);
    border-color: #f9c9bf #f9c9bf #f9c9bf transparent;  /* LTR */
    box-shadow: -8px 0 0 #e62600; /* LTR */
}
[dir="rtl"] .messages--error {
    border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
    box-shadow: 8px 0 0 #e62600;
}
.messages--error p.error {
    color: #a51b00;
}
.messages--loader {
    background-image: url(../images/loader-flicker-30px.svg);
    padding-left: 45px;
    background-position: 12px 10px;
}
.messages-simple-wrapper {
    font-size: .9rem;
    margin-bottom: 2rem;
}
.messages-simple-wrapper ul {
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.messages-simple-wrapper.messages-danger {
    background-color: #ffffff;
    color: #f36666;
    border: 1px solid #f36666;
    padding: 10px;
}
.messages-simple-wrapper.messages-danger a {
    color: #f36666;
}
.messages-simple-wrapper.messages-danger a:hover {
    text-decoration: underline;
}

/* header */
.header-top {
    background-color: #e1e1e1;
}
.header-top .container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-top .top-links li {
    vertical-align: middle;
}
.header-top .top-links li a {
    font-size: 1.3rem;
    width: 18px;
    height: 18px;
}
.header .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .col-left img {
    width: 110px;
}
.header .user-links li {
    border-right: 1px solid #1b1b1b;
    padding: 0px;
}
.header .user-links li.last {
    border-right: none;
}
.header .user-links a {
    font-size: .9rem;
    padding: 0px 11px;
}
.header-nav {
    border-top: 1px dashed #111111;
    border-bottom: 1px dashed #111111;
    background: #f2f2f2;
}
.header-nav .navbar-nav > li {
    height: auto;
}
.header-nav .navbar-nav > li a {
    height: 100%;
    line-height: 30px;
    color: #1b1b1b;
    font-family: 'open_sanssemibold';
    text-transform: uppercase;
    position: relative;
}
.header-nav .navbar-default .navbar-nav > .active > a, 
.header-nav .navbar-default .navbar-nav > .active > a:focus, 
.header-nav .navbar-default .navbar-nav > .active > a:hover {
    color: #1b1b1b;
}
.header-nav .navbar-nav > li > .dropdown-menu > .dropdown > .dropdown-menu {
    display: block;
    position: relative;
    border: none;
    box-shadow: none;
    margin: 0px;
    width: 100%;
    padding: 0px;
}
.header-nav .navbar-nav > li > .dropdown-menu > .dropdown .caret {
    /*display: none; */
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -1px;
}
.header-nav .navbar-nav > li > .dropdown-menu > .dropdown > .dropdown-menu li a {
    padding-left: 40px;
}
.header-nav .dropdown-menu > .active > a, 
.header-nav .dropdown-menu > .active > a:focus, 
.header-nav .dropdown-menu > .active > a:hover {
    background-color: #f5f5f5;
}
.header-nav .search-form {
    padding: 0px;
    background-color: #fafafa;
    width: 280px;
    border: 1px solid #1b1b1b;
    margin-top: 11px;
}
.header-nav .search-form .form-group {
    width: 100%;
    display: table-cell;
}
.header-nav .search-form input {
    height: 34px;
    border-color: transparent;
    border-radius: 0px;
    width: 100%;
}
.header-nav .search-form button {
    width: 41px;
    border: none;
    background-color: #fafafa;
    color: #1b1b1b;
    padding: 0px;
    font-size: 1.5rem;
}
.header-nav .search-form button i {
    width: 21px;
}
.header-nav .dropdown:hover .dropdown-menu {
    display: block;
    padding: 0px;
}

/* footer */
.footer {
    background-color: #ececec;
}
.footer-bottom {
    background-color: #222222;
}
.footer-bottom a:hover, .footer-bottom a:focus  {
    color: #ffffff;
}

/* list */
.list-layout1 li {
    margin-bottom: .75rem;
}

/* heading */
.heading-layout1 {
    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* title bar */
.page-title {
    position: relative;
    padding-left: 20px;
}
.page-title h1 {
    background: #fafafa;
    padding: 0px 10px;
    margin: 0px;
    position: relative;
    display: inline-block;
}
.page-title .bar {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0px;
    right: 0px;
    background-color: #F1F1F1;
}
.heading-title {
    position: relative;
    padding-left: 20px;
}
.heading-title h1, 
.heading-title h2, 
.heading-title h3, 
.heading-title h4, 
.heading-title h5 {
    background: #fafafa;
    padding: 0px 10px;
    margin: 0px;
    position: relative;
    display: inline-block;
}
.heading-title .bar {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0px;
    right: 0px;
    background-color: #F1F1F1;
}

/* panel */
.panel.closed .panel-body {
    display: none;
}
.panel-layout1 {
    border-radius: 0px;
    border: none;
}
.panel-layout1 .panel-heading {
    background: #1b1b1b;
    border-color: #1b1b1b;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: 0px;
}
.panel-layout1 .panel-body {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius: 0px;
}
.panel-layout2 {
    border-radius: 0px;
    border: none;
}
.panel-layout2 .panel-heading {
    background: #444444;
    border-color: #444444;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: 0px;
    padding: 15px 22px;
}
.panel-layout2 .panel-body {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius: 0px;
    padding: 22px 22px;
}
.panel-layout2.closed .panel-heading {
    background-color: #c3c3c3;
    border-color: #c3c3c3;
}

/* nav */
.nav-layout1 {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #dcdcdc;
    border-left: 0px;
    border-right: 0px;
}
.nav-layout1 ul {
    padding-left: 0px;
}
.nav-layout1 li {
    list-style: none;
    border-bottom: 1px solid #dcdcdc;
    padding: 0px;
    margin: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.nav-layout1 li.last {
}
.nav-layout1 li.active {
    border-left: 1px solid #1b1b1b;
    border-right: 1px solid #1b1b1b;
}
.nav-layout1 li a {
    text-transform: none;
    display: block;
    text-transform: none;
    color: #737373;
    padding: 15px 20px;
    font-size: 13px;
    font-family: 'open_sanssemibold';
    position: relative;
}
.nav-layout1 li a:hover
/*.nav-layout1 li:hover > a*/ {
    background-color: #efefef;
}
.nav-layout1 li.active > a,
.nav-layout1 li.active a:hover
/*.nav-layout1 li.active:hover > a*/ {
    background-color: #f3f3f3;
}
.nav-layout1 li.dropdown > a:hover {
    background-color: #ffffff;
}
.nav-layout1 li a .caret {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -1px;
}
.nav-layout1 ul li a {
    padding-left: 40px;
}
.nav-layout1 .dropdown ul {
    display: none;
}
.nav-layout1 .dropdown.open {
    border-bottom: 0px;
}
.nav-layout1 .dropdown.open > ul {
    display: block;
    border-top: 1px solid #dcdcdc;
}
.nav-layout1 .cols-2 {
    overflow: hidden;
}
.nav-layout1 .cols-2 li {
    float: left;
    width: 50%;
    min-height: 49px;
}
.nav-layout1 .cols-2 li a {
    padding-left: 20px;
    text-align: center;
    display: block;
}
.products-nav li {
    border-left: none;
    border-right: none;
}
.products-nav li.active {
    border-left: none;
    border-right: none;
}

/* features icons */
.features-icons > * {
    padding-left: 15px;
    padding-right: 15px;
}
.features-icons .col1 {
    width: 25%;
}
.features-icons .col2 {
    width: 25%;
}
.features-icons .col3 {
    width: 25%;
}
.features-icons .col5 {
    width: 25%;
}
.features-icons i {
    font-size: 2.5rem;
    color: #666666;
}
.features-icons img {
    max-width: 45px;
}
.features-icons .media {
    display: table;
    width: auto;
    margin: 0 auto;
}
.features-icons .media-left {
    vertical-align: middle;
}
.features-icons .media-body {
    vertical-align: middle;
    width: auto;
}
.features-icons .media-body p {
    margin-bottom: 0px;
}

/* newsletter form */
.panel .newsletter-form input {
    background-color: #fafafa;
}
.panel .newsletter-form .form-group {
    margin-bottom: 10px;
}

/* shop */
.products-nav ul {
}

/* results list */
.results-list-layout1 {
    
}
.results-list-layout1 .item {
    
}
.results-list-layout1 .item .thumb {
 
}
.results-list-layout1 .item .details {

}

/* products */
.product-item {
    background-color: #f2f2f2;
    margin-bottom: 30px;
}
.product-item .thumb {
    padding: 2px;    
}
.product-item .details {
    padding: 10px 3px 15px 3px;
    min-height: 190px;
    padding-bottom: 144px;
}
.product-item .details .part01 {

}
.product-item .details .part02 {
    position: absolute;
    bottom: 66px;
    left: 0px;
    right: 0px;
    height: 76px;
    padding: 0px 25px;
}
.product-item .price {
    /*color: #959595;*/
}
.product-item .discounted {
    color: #c53f3e;
}
.product-item .actions {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
.product-item .color-selection {

}
.product-item .color-selection .selector {
    display: inline-block;
    width: 45px;
    height: 34px;
    width: 37px;
    height: 28px;
    margin: 0px 1.2px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.product-item .color-selection .selector.active {
    background-color: #000000;
    border: 2px solid #c7c7c7;
}

/* view product */
.product-view .images .thumbnails {

}
.product-view .images .thumbnails .selector {
    display: inline-block;
    width: 21%;
    min-height: 81px;
    margin: 0px 1%;
    margin-bottom: 5px;
    background-size: cover;
    background-position: top center;
}
.product-view .images .thumbnails .selector {
    display: inline-block;
    width: 21%;
    margin: 0px 1%;
    margin-bottom: 5px;
    background-size: cover;
    background-position: top center;
}
.product-view .color-selection {

}
.product-view .color-selection .selector {
    display: inline-block;
    width: 45px;
    height: 34px;
    width: 37px;
    height: 28px;
    margin: 0px 1.2px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.product-view .color-selection .selector.active {
    background-color: #000000;
    border: 2px solid #c7c7c7;
}

/* registration */
.form-registration .col-label {
    width: 170px;
    padding-right: 20px;
    text-align: right;
}
.form-registration .col-field {
    width: 400px;
}
.form-registration .col-field input[type="text"],
.form-registration .col-field input[type="email"],
.form-registration .col-field input[type="password"] {
    width: 100%;
}
.form-registration .form-group-dateofbirth .form-inline .select2-container {
    margin-right: 5px;
}

/* edit profile */
.form-profile-edit .col-label {
    width: 170px;
    padding-right: 20px;
    text-align: right;
}
.form-profile-edit .col-field {
    width: 400px;
}
.form-profile-edit .col-field input[type="text"],
.form-profile-edit .col-field input[type="email"],
.form-profile-edit .col-field input[type="password"] {
    width: 100%;
}
.form-profile-edit .form-group-dateofbirth .form-inline .select2-container {
    margin-right: 5px;
}
.user-sidenav li.active > a, 
.user-sidenav li.active a:hover {
    background-color: #1b1b1b;
    color: #ffffff;
}

/* cart */
.table-cart {

}
.table-cart thead tr {
    background-color: #989898;
}
.table-cart > tbody > tr:nth-of-type(odd) {
    background-color: #FAFAFA;
}
.table-cart > tbody > tr {
    background-color: #ececec;
}
.table-cart thead th {
    color: #ffffff;
}
.table-cart > tbody > tr > td {
    border-color: #ffffff;
}
.table-cart tr > .col-actions {
    width: 100px;
}
.table-cart tr > .col-img {
    width: 180px;
}
.table-cart tr > .col-name {
    width: 40%;
    text-align: left !important;
}
.table-cart tr > .col-qty {
    width: 120px;
}
.table-cart tr > .col-price {
    width: 170px;
}
.table-cart tr > .col-actions a {
    font-size: 20px;
}
.table-cart .product-img {
    max-width: 100px;
    margin: 0 auto;
}
.table-cart .field-qty {
    width: 60px;
    margin: 0 auto;
    text-align: center;
}

/* order */
.table-order-summary-simple thead tr {
    background-color: transparent;
}
.table-order-summary-simple thead th {
    color: #1b1b1b;
}
.table-order-totals > tbody > tr > th {
    padding: 8px;
}
.table-order-totals > tbody > tr > td {
    padding: 8px;
}

/* checkout */
.checkout-form-wrapper form .panes .panel {
    margin-bottom: 1px;
}
.checkout-form-wrapper form .panes .panel .panel-heading {
    cursor: pointer;
}
.checkout-form-wrapper form .panes .panel .panel-body {
    padding-left: 40px;
}
.checkout-form-wrapper form .panes .panel .panel-heading h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-right: 10px;
}
.checkout-form-wrapper form .panes .panel .panel-heading h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
.form-order-checkout .col-label {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}
.form-order-checkout .col-field {
    width: 400px;
}
.table-gift-wraps .col-wrap {
    width: 200px;
}
.table-gift-wraps .col-img {
    width: 200px;
}

/* order invoice */
.invoice-wrapper .section-header {
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    padding: 10px 0px;
}
.invoice-wrapper .section-header h4 {
    margin: 0px;
}
.invoice-wrapper .section-body {
    padding: 15px 0px;
}
.invoice-wrapper .info-table {
    border-collapse: collapse;
    width: 100%;
}
.invoice-wrapper .info-table tr th {
    padding: 8px;
    text-align: right;
    width: 50%;
    vertical-align: top;
}
.invoice-wrapper .info-table tr td {
    padding: 8px;
    width: 50%;
    vertical-align: top;
    text-align: left;
}
.invoice-wrapper .messages-simple-wrapper {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.invoice-wrapper .table-order-totals > tbody > tr {
    background-color: transparent;
}
.invoice-wrapper .table-order-totals > tbody > tr > td {
    border-color: #ddd !important;
}
.invoice-wrapper .table-order-totals > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}