{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if value is not null %}
        {{ value|number_format(field_description.options.scale, '.', ',') }}
    {% endif %}
{% endblock %}
