{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {%- if value != ''  -%}
        {{ value|number_format(field_description.options.scale, '.', ',') }}
    {% endif %}
{% endblock %}
