<div class="invoice-wrapper">
    <div class="section-body">
        <p>Hi <strong>{{ (order.billingFirstname ~ ' ' ~ order.billingLastname)|upper }}</strong>!</p>
        <p>Thank you for shopping at {{site_name}} on {{ order.createdAt|date('F d, Y') }}</p>
        <p>Here is your order confirmation number: <strong>{{ order.orderNumber }}</strong></p>
    </div>
    <div class="section-header">
        <h4>Customer Information</h4>
    </div>
    <div class="section-body">
        <table class="info-table">
            <tbody>
                <tr>
                    <th>First Name:</th>
                    <td>{{ order.billingFirstname }}</td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td>{{ order.billingLastname }}</td>
                </tr>
                <tr>
                    <th>Billing Address:</th>
                    <td>{{ order.billingAddress1 }}</td>
                </tr>
                <tr>
                    <th>Delivery Address:</th>
                    <td>{{ order.shippingAddress1 }}</td>
                </tr>
                <tr>
                    <th>E-mail Address:</th>
                    <td>{{ order.billingEmail }}</td>
                </tr>
                <tr>
                    <th>Contact Number(s):</th>
                    <td>{{ order.billingContactNumber }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section-header">
        <h4>Payment Method</h4>                
    </div>
    <div class="section-body">
        <div style="text-align: center;">
            <p>You can make your payment of <strong>{{ app_currency }} {{ order.finalTotalPrice|number_format(2, '.', ',') }}</strong> in cash upon delivery.</p>
        </div>
        <br />
        <div class="messages-simple-wrapper messages-danger">
            {% set confirmPaymentUrl = absolute_url('/customer-service/confirm-payment') %}
            <ul>
                <li>You may request for your delivery tracking number via e-mail, send us your order confirmation number at {{ app_store_settings.emails.support }}.</li>
                <li>Please expect a text message from {{ site_name }} within 24 hours asking for confirmation. We will not deliver the item/s if we do not get a confirmation from the customer.</li>
                <li>Choosing the COD service means, you are ready to pay for the items you ordered when we deliver. Payment must be made first before opening of pouch.</li> 
            </ul>
        </div>
    </div>
    <div class="section-header">
        <h4>Order Summary</h4>
        <small>Your order contains the following:</small>
    </div>
    <div class="section-body">
        {{ include('AppBundle:Theme\\Store\\Default\\Order:summary.html.twig', { order: order, orderTotals: orderTotals, layout: 'simple' }) }}
    </div>
    {% if order.giftWrap is not empty %}
    <div class="section-header">
        <h4>Gift Wrap</h4>
    </div>
    <div class="section-body">
        <table class="info-table">
            <tbody>
                <tr>
                    <th>Wrap Type:</th>
                    <td>{{ order.giftWrap.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    <div>
        <strong>Sincerely</strong>,<br />
        <img src="{{ asset('bundles/app/theme/store/default/images/logo.png') }}" alt="{{ site_name }}" title="{{ site_name }}" style="width: 150px; height: auto;" />
    </div>
</div>