{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="row">
    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
        <div class="row margin-b-4">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center">
                <h4 class="margin-b-3">ARE YOU ON FACEBOOK?</h4>
                <div>
                    <a href="{{ path('hwi_oauth_service_redirect', { service: 'facebook' }) }}" class="btn btn-blue"><i class="fa fa-facebook valign-mid fs-1_25">&nbsp;</i> <span class="valign-mid">Create account via facebook</a>
                </div>
                <p class="margin-t-2 fs--9"><em>We will never post on your behalf or share any information without your permission.</em></p>
            </div>
        </div>

        {{ form_start(form, { method: 'post', action: path('fos_user_registration_register'), 'attr': { class: 'form-registration', novalidate: true } } ) }}

        <div class="form-group {% if form.firstname.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.firstname, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.firstname, { attr: {} }) }}
                </div>
            </div>
            {% if form.firstname.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.firstname) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.middlename.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.middlename, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.middlename, { attr: {} }) }}
                </div>
            </div>
            {% if form.middlename.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.middlename) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.lastname.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.lastname, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.lastname, { attr: {} }) }}
                </div>
            </div>
            {% if form.lastname.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.lastname) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group form-group-dateofbirth {% if form.dateOfBirth.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.dateOfBirth, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.dateOfBirth, { attr: {} }) }}
                </div>
            </div>
            {% if form.dateOfBirth.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.dateOfBirth) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.gender.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.gender, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.gender, { attr: {} }) }}
                </div>
            </div>
            {% if form.gender.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.gender) }}
                </div>
            </div>
            {% endif %}
        </div>
        <br />
        <br />
        <div class="form-group {% if form.email.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.email, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.email, { attr: {} }) }}
                </div>
            </div>
            {% if form.email.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.email) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.plainPassword.first.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.plainPassword.first, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.plainPassword.first, { attr: {} }) }}
                </div>
            </div>
            {% if form.plainPassword.first.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.plainPassword.second.vars.errors|length > 0 %}has-error{% endif %}">
            <div class="tbl block-centered">
                <div class="valign-mid col-label">
                    {{ form_label(form.plainPassword.second, null, { attr: {} }) }}
                </div>
                <div class="valign-mid col-field">
                    {{ form_widget(form.plainPassword.second, { attr: {} }) }}
                </div>
            </div>
            {% if form.plainPassword.second.vars.errors|length > 0 %}
            <div class="tbl block-centered">
                <div class="valign-mid col-label">&nbsp;</div>
                <div class="valign-mid col-field">
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                {{ form_errors(form) }}
                {# <input type="submit" class="btn btn-black" value="{{ 'registration.submit'|trans|upper }}" /> #}
                <div class="text-center">
                    <input type="submit" class="btn btn-black" value="{{ 'Create Account'|trans|upper }}" />
                </div>
            </div>
        </div>
        
        {{ form_end(form) }}
    </div>
</div>