{% extends 'AppBundle:Theme\\Store\\Default:base_layout.html.twig' %}

{% block page_body_class %}{{ parent() }}{% endblock %}

{% block page_container %}
	{% block page_header %}
	{#<!-- HEADER START -->#}
	<header>
		{{ sonata_page_render_container('header_top', 'global') }}
		<div class="header-top">
			<div class="container-fluid">
				<ul class="list-inline pull-right margin-0 top-links">
					<li class="fs--75">FOLLOW US ON:</li>
					<li>
						<a href="#" class="fa fa-twitter-square">&nbsp;</a>
					</li>
					<li>
						<a href="#" class="fa fa-instagram">&nbsp;</a>
					</li>
					<li>
						<a href="#" class="fa fa-facebook-square">&nbsp;</a>
					</li>
					<li>
						<a href="#" class="fa fa-feed">&nbsp;</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="container-fluid">
				<div class="tbl full-width">
					<div class="col-left">
						<a href="{{ path('page_slug', { path: '/' }) }}">
						{# set site_logo = page_site_setting_logo() #}
						{% set site_logo = null %}
						{% if site_logo is not empty %}
							{% media site_logo, 'reference' with { alt: site_name, title: site_name } %}
						{% else %}
							<img src="{{ asset('bundles/app/theme/store/default/images/header-logo.png') }}" alt="{{ site_name }}" title="{{ site_name }}" />
						{% endif %}
						</a>
					</div>
					<div class="col-right valign-bottom">
						{# <ul class="list-inline pull-right margin-0 user-links">
							<li>
								<a href="{{ path('page_slug', { path: '/myaccount' }) }}">My Account</a>
							</li>
							<li>
								<a href="{{ path('page_slug', { path: '/shopping-bag' }) }}">Shopping Bag</a>
							</li>
							<li class="last">
								<a href="{{ path('page_slug', { path: '/logout' }) }}">Logout</a>
							</li>
						</ul> #}
						{{ knp_menu_render('user1', { currentClass: 'active', template: 'AppBundle:Menu:menu_navbar.html.twig' }) }}
					</div>
				</div>
			</div>
		</div>
		<nav class="header-nav navbar navbar-default">
			<div class="container-fluid">
		        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
		        <div id="navbar">
					{#<!--<ul class="nav navbar-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">What's New</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Clothing</li>
								<li><a href="#">Tops</a></li>
								<li><a href="#">Bottoms</a></li>
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Playsuits / Jumpsuits</a></li>
								<li><a href="#">Jackets / Blazers</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Shoes</li>
								<li><a href="#">Flats</a></li>
								<li><a href="#">Heels</a></li>
								<li><a href="#">Wedges</a></li>
							</ul>
						</li>
						<li><a href="#">Lookbook</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">About Bewhisk</a></li>
								<li><a href="#">Press Coverage</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customer Service <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">How to Order</a></li>
								<li><a href="#">Shipping and Returns</a></li>
								<li><a href="#">FAQs</a></li>
								<li><a href="#">Size Chart</a></li>
								<li><a href="#">Confirm Payment</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</li>
					</ul>#}
					{{ knp_menu_render('main', { currentClass: 'active', template: 'AppBundle:Menu:menu_navbar.html.twig' }) }}
					{#<!--<form class="navbar-form navbar-right search-form">
						<div class="tbl">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default"><i class="fa fa-search">&nbsp;</i></button>
						</div>
					</form>-->#}
		        </div><!--/.nav-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	{#<!-- HEADER END -->#}
	{% endblock page_header %}

	{% block page_content %}
	<div class="main-wrapper">
		{% block page_content_top %}
		<div class="content-top">
			<div class="container-fluid">
				<div class="features-icons tbl full-width padding-t-2 padding-b-4">
					<div class="valign-top col1">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-truck">&nbsp;</i>
							</div>
							<div class="media-body">
								<p class="text-light-gray fs--8">FREE SHIPPING IN PH<br />FOR ORDERS ABOVE P1000</p>
							</div>
						</div>
					</div>
					<div class="valign-top col2">
						<div class="media">
							<div class="media-left">
								<img src="{{ asset('bundles/app/theme/store/default/images/icons/cash-on-delivery.svg') }}" alt="Cash on delivery" title="" />
							</div>
							<div class="media-body">
								<p class="text-light-gray fs--8">CASH ON DELIVERY<br />WITHIN METRO MANILA</p>
							</div>
						</div>
					</div>
					<div class="valign-top col3">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-shield">&nbsp;</i>
							</div>
							<div class="media-body">
								<p class="text-light-gray fs--8">SECURE SHOPPING</p>
							</div>
						</div>
					</div>
					<div class="valign-top col4">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-gift">&nbsp;</i>
							</div>
							<div class="media-body">
								<p class="text-light-gray fs--8">GIFT WRAP</p>
							</div>
						</div>
					</div>
					<div class="valign-top col5">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-comments">&nbsp;</i>
							</div>
							<div class="media-body">
								<p class="text-light-gray fs--8">CALL OR TEXT<br />VIA 09171234567</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ sonata_page_render_container('content_top') }}
			{{ sonata_page_render_container('content_top', 'global') }}
		</div>
	    {% endblock page_content_top %}	

		<!-- CONTENT START -->
		<div class="main-content">
			<!-- CONTENT INNER START -->
			<div class="inner">
				{% block page_flash_message %}
				<div class="container-fluid">
					{#<!--<div class="page-title margin-b-3">
						<div class="bar">&nbsp;</div>
						<h1 class="fs-1">HOME</h1>
					</div>-->#}
					{{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}
				</div>
				{% endblock page_flash_message %}
				{#<!-- MAIN CONTENT START -->#}
				{% block page_content_main %}
				<div class="container-fluid">
					{% if content is defined %}
						{{ content|raw }}
					{% else %}
						{% set content = block('content') is defined ? block('content') : '' %}
						{% if content|length > 0 %}
							{{ content|raw }}
						{% elseif page is defined %}
							{{ sonata_page_render_container('content', page) }}
						{% endif %}
					{% endif %}
				</div>
				{% endblock page_content_main %}	
				{#<!-- MAIN CONTENT END -->#}

				{#<!-- BOTTOM CONTENT START -->#}
				{% block page_content_bottom %}
			        {{ sonata_page_render_container('content_bottom') }}
			        {{ sonata_page_render_container('content_bottom', 'global') }}
			    {% endblock page_content_bottom %}
				{#<!-- BOTTOM CONTENT END -->#}
			</div>
			{#<!-- CONTENT INNER END -->#}
		</div>
		{#<!-- CONTENT END -->#}
	</div>
	{#<!-- MAIN WRAPPER END -->#}
	{% endblock page_content %}
	
	{#<!-- FOOTER START -->#}
	{% block page_footer %}
	<footer>
		{{ sonata_page_render_container('footer', 'global') }}
		{{ sonata_page_render_container('footer_bottom', 'global') }}
		<div class="footer">
			<div class="container-fluid padding-t-4 padding-b-4">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<h4 class="heading-layout1">INFORMATION</h4>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<ul class="list-unstyled list-layout1 padding-l-4 fs--9 margin-b-5">
											<li>
												<a href="test">About Us</a>
											</li>
											<li>
												<a href="test">How to Order</a>
											</li>
											<li>
												<a href="test">Shipping and Returns</a>
											</li>
											<li>
												<a href="test">FAQs</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<ul class="list-unstyled list-layout1 padding-l-4 fs--9 margin-b-5">
											<li>
												<a href="test">Privacy Policy</a>
											</li>
											<li>
												<a href="test">Terms of Use</a>
											</li>
											<li>
												<a href="test">Contact Us</a>
											</li>
											<li>
												<a href="test">Affiliates</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<h4 class="heading-layout1">MY ACCOUNT</h4>
								<ul class="list-unstyled list-layout1 padding-l-4 fs--9 margin-b-5">
									<li>
										<a href="test">View Cart</a>
									</li>
									<li>
										<a href="test">My Wishlist</a>
									</li>
									<li>
										<a href="test">Track My Order</a>
									</li>
									<li>
										<a href="test">Help</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<h4 class="heading-layout1">TOP SEARCHES</h4>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<ul class="list-unstyled list-layout1 padding-l-4 fs--9 margin-b-5">
											<li>
												<a href="test">Women's Clothing</a>
											</li>
											<li>
												<a href="test">Women's Tops</a>
											</li>
											<li>
												<a href="test">Women's Skirts</a>
											</li>
											<li>
												<a href="test">Women's Pants</a>
											</li>
											<li>
												<a href="test">Women's Heels</a>
											</li>
											<li>
												<a href="test">Women's Best Sellers</a>
											</li>
											<li>
												<a href="test">Women's Dresses</a>
											</li>
											<li>
												<a href="test">Women's Shoes</a>
											</li>
											<li>
												<a href="test">Women's Flats</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<ul class="list-unstyled list-layout1 padding-l-4 fs--9 margin-b-5">
											<li>
												<a href="test">Sale</a>
											</li>
											<li>
												<a href="test">Clothing</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<h4 class="heading-layout1">CATEGORIES</h4>
								<ul class="list-unstyled list-layout1 padding-l-4 fs--9 margin-b-5">
									<li>
										<a href="test">Clothing</a>
									</li>
									<li>
										<a href="test">Shoes</a>
									</li>
									<li>
										<a href="test">New</a>
									</li>
									<li>
										<a href="test">Best Sellers</a>
									</li>
									<li>
										<a href="test">On Sale</a>
									</li>
								</ul>

								<h4 class="heading-layout1">KEEP IN TOUCH</h4>
								<div class="padding-l-4 margin-b-5 fs--9">
									<div class="media">
										<div class="media-left text-gray valign-mid">
											<i class="fa fa-comments fs-1_75">&nbsp;</i>
										</div>
										<div class="media-body valign-mid">
											Call or Text +63926-6114464
										</div>
									</div>
									<div class="media">
										<div class="media-left text-gray valign-mid">
											<a href="mailto:info@bewhisk.com"><i class="fa fa-envelope fs-1_75">&nbsp;</i></a>
										</div>
										<div class="media-body valign-mid">
											Email us at <a href="mailto:info@bewhisk.com">info@bewhisk.com</a>
										</div>
									</div>
									<div class="media">
										<div class="media-left text-gray valign-mid">
											<a href="#" target="_blank"><i class="fa fa-facebook-square fs-1_75">&nbsp;</i></a>
										</div>
										<div class="media-body valign-mid">
											<a href="#" target="_blank">Like us on Facebook</a>
										</div>
									</div>
									<div class="media">
										<div class="media-left text-gray valign-mid">
											<a href="#" target="_blank"><i class="fa fa-instagram fs-1_75">&nbsp;</i></a>
										</div>
										<div class="media-body valign-mid">
											<a href="#" target="_blank">Follow Us on Instagram</a>
										</div>
									</div>
									<div class="media">
										<div class="media-left text-gray valign-mid">
											<a href="#" target="_blank"><i class="fa fa-twitter-square fs-1_75">&nbsp;</i></a>
										</div>
										<div class="media-body valign-mid">
											<a href="#" target="_blank">Tweet Us</a>
										</div>
									</div>
									<div class="media">
										<div class="media-left text-gray valign-mid">
											<a href="#" target="_blank"><i class="fa fa-feed fs-1_75">&nbsp;</i></a>
										</div>
										<div class="media-body valign-mid">
											<a href="#" target="_blank">RSS Feeds</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="panel panel-default panel-layout1 margin-b-4">
							<div class="panel-heading">
								<h3 class="panel-title">NEWSLETTER</h3>
							</div>
							<div class="panel-body">
								<p class="fs--9">Receive Special Offers & Latest Style News</p>
								<form action="" method="POST" class="newsletter-form">
									<div class="row row-col-p5">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-left">
											<div class="form-group">
												<label>First Name <span class="asterisk">*</span></label>
												<input class="form-control" type="text" name="first_name" value="" />
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-right">
											<div class="form-group">
												<label>Last Name <span class="asterisk">*</span></label>
												<input class="form-control" type="text" name="first_name" value="" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Email <span class="asterisk">*</span></label>
										<input class="form-control" type="text" name="first_name" value="" />
									</div>
									<button class="btn btn-default btn-block btn-black" type="submit">SIGN UP</button>
									<div class="text-center fs--9 margin-t-3 margin-b-3">OR</div>
									<div class="text-center">
										<a href="#" class="btn btn-default btn-block">Create Account</a>
									</div>
								</form>
							</div>
						</div>
						<div class="panel panel-default panel-layout1 margin-b-4">
							<div class="panel-heading">
								<h3 class="panel-title">LIKE US ON FACEBOOK</h3>
							</div>
							<div class="panel-body">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<div class="footer-bottom text-darker-gray">
			<div class="container-fluid padding-t-4 padding-b-4">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<ul class="list-inline margin-b-1 footer-links margin-b-3">
							<li>
								<a href="#" class="fs--9">About</a>
							</li>
							<li>
								<a href="#" class="fs--9">Contact</a>
							</li>
							<li>
								<a href="#" class="fs-9">Help</a>
							</li>
							<li>
								<a href="#" class="fs--9">Privacy</a>
							</li>
							<li>
								<a href="#" class="fs--9">Terms of Service</a>
							</li>
						</ul>
						<p class="uppercase fs--9 margin-0">&copy; 2019 {{ site_name }}</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
						<a href="#" class="scrolltop d-inline-block text-center">
							<i class="fa fa-arrow-up fs-2_5">&nbsp;</i><br />
							<span class="fs--9">Back to Top</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	{% endblock page_footer %}
	{#<!-- FOOTER END -->#}
{% endblock %}

