{% extends 'AppBundle:Theme\\Store\\Default\\Layout:default.html.twig' %}

{% block page_body_class %}{{ parent() }}{% endblock %}

{% block page_content_main %}
<div class="container-fluid">
    {{ include('AppBundle:Theme\\Store\\Default\\Common:page_title.html.twig', { customPageTitle: 'ORDER SUCCESS' }) }}

    <div class="bg-white padding-4 margin-b-5">
        {{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}
        
        {% if content is defined %}
            {{ content|raw }}
        {% else %}
            {% set content = block('content') is defined ? block('content') : '' %}
            {% if content|length > 0 %}
                {{ content|raw }}
            {% elseif page is defined %}
                {{ sonata_page_render_container('content', page) }}
            {% endif %}
        {% endif %}

        <div class="order-success-wrapper">
        {#<!-- {{ include('AppBundle:Theme\\Store\\Default\\Order:checkout_form.html.twig') }} -->#}
        {% if order.paymentMethod == constant('AppBundle\\Entity\\Store\\Order::PAYMENT_METHOD_BANK_TRANSFER') %}
            {{ include('AppBundle:Theme\\Store\\Default\\Order:invoice\\bank_transfer.html.twig') }}
        {% elseif order.paymentMethod == constant('AppBundle\\Entity\\Store\\Order::PAYMENT_METHOD_COD') %}
            {{ include('AppBundle:Theme\\Store\\Default\\Order:invoice\\cash_on_delivery.html.twig') }}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}