{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% set formClasses = ['form-order-checkout'] %}
{% if not form.vars.valid %}
    {% set formClasses = formClasses|merge(['not-valid']) %}
{% endif %}
{{ form_start(form, { attr: { novalidate: 'novalidate', id: form.vars.id, class: formClasses|join(' ') } }) }}

{% if form.vars.errors is not empty %}
<div class="messages messages--error">
    <ul class="messages__list">
    {% for error in form.vars.errors %}
        <li class="messages__item">{{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% set checkoutPanes = [
    { 
        key: 'billing',
        label: 'Billing Information',
    },
    { 
        key: 'shipping',
        label: 'Shipping Information',
    },
    { 
        key: 'promo_code',
        label: 'Promo Code',
    },
    { 
        key: 'payment_method',
        label: 'Payment Method',
    },
    { 
        key: 'summary',
        label: 'Cart Summary',
    },
] %}

<div class="panes">
    {% for pane in checkoutPanes %}
    {% set paneClasses = ["panel", "panel-defaul", "panel-layout2"] %}
    {% if not form.vars.submitted and loop.index != 1 %}
        {% set paneClasses = paneClasses|merge(['closed']) %}
    {% elseif app.request.request.get('openedPanes') %}
        {% set openedPanes = app.request.request.get('openedPanes')|split("__") %}
        {% if openedPanes|length > 0 %}
            {% if pane.key not in openedPanes %}
                {% set paneClasses = paneClasses|merge(['closed']) %}
            {% endif %}
        {% endif %}
    {% endif %}
    <div class="{{ paneClasses|join(' ') }}" data-key="{{ pane.key }}">
        <div class="panel-heading"><h3 class="num ff-open_sansregular">{{ loop.index }}</h3> <h4 class="fs--9">{{ pane.label|upper }}</h4></div>
        <div class="panel-body">
            {{ include('AppBundle:Theme\\Store\\Default\\Order:checkout_pane\\' ~ pane.key ~ '.html.twig') }}
        </div>
    </div>
    {% endfor %}
</div>

<div class="text-right margin-t-4">
    <a href="{{ path('app_store_cart') }}" class="btn btn-default text-uppercase">Cancel</a>
    {{ form_widget(form.submit, { attr: { class: 'btn btn-black text-uppercase' } }) }}
</div>

{# <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="form-inline">
            <div class="form-group">
                {{ form_label(form.sort) }}
                {{ form_widget(form.sort, { attr: { class: 'select2-exclude' } }) }}
            </div>
        </div>
    </div>
</div> #}

{# <div style="display: none;">
    {{ form_row(form.brand) }}
    {{ form_row(form.price) }}
    {{ form_row(form.color) }}
    {{ form_row(form.size) }}
    {{ form_row(form.theme) }}
    {{ form_widget(form.submit, { attr: { class: 'btn btn-black' } }) }}
</div> #}

<div style="display: none;">
{{ form_row(form.lineItems) }}
</div>

{{ form_end(form) }}