<script type="text/javascript">
(function ($) {

	$(document).ready(function(){
        
		$('#{{ form.vars.id }}').initCheckoutForm();

	});

    $.fn.initCheckoutForm = function() {
		var _this_form = $(this);
        
        $(_this_form.find('.panes .panel-heading')).click(function() {
            var _this = $(this);
            _this.closest('.panel').find('.panel-body').slideToggle('fast', function(){
                _this.closest('.panel').toggleClass('closed');
            });
        });
        
		_this_form.find('input[type="radio"]:not(.icheck-exclude, .icheck-exclude input),input[type="checkbox"]:not(.icheck-exclude, .icheck-exclude input)').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });

        $(_this_form.find('select:not(.select2-exclude select, .select2-exclude)')).each(function(i, o){
            var options = {
                placeholder: {
                    id: '', // the value of the option
                    text: 'Select'
                }
            };
            if ($(o).attr('data-allowClear')) {
                options.allowClear = true;
            }
            $(o).select2(options);
        });

        $(_this_form.find('.inputmask-int')).each(function(i, o){
        	$(o).inputmask({ alias: 'integer', rightAlign: false, allowMinus: false, removeMaskOnSubmit: true });
        });
        
        $(_this_form.find('.inputmask-email')).each(function(i, o){
        	$(o).inputmask({ alias: 'email', clearIncomplete: true, removeMaskOnSubmit: true, placeholder: "" });
        });
        
        $(_this_form.find('.inputmask-mobile')).each(function(i, o){
        	$(o).inputmask({ mask: '9999 999 9999', removeMaskOnSubmit: true });
        });
        
        $(_this_form.find('.inputmask-landline')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*", removeMaskOnSubmit: true });
        });
        
        $(_this_form.find('.inputmask-zipcode')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*", removeMaskOnSubmit: true });
        });

        $('#{{ form.vars.id }}').initCheckoutFormAddressFields();
        // $('#{{ form.vars.id }}').initGiftWrapFields();
        $('#{{ form.vars.id }}').initPromoCodeField();
        $('#{{ form.vars.id }}').initSameAsBillingField();
	}

	$.fn.initCheckoutFormAddressFields = function() {
        var _this_form = $(this);
		$(_this_form.find('.region-field:not(.processed)')).addClass('processed').each(function(i, o){
			$(o).change(function(){
				var target_element = $($(o).attr('data-target'));
				target_element.val('');
				target_element.change();
				target_element.prop('disabled', true);
				_this_form.refreshCheckoutForm();
			});
		});
	}

	$.fn.initSameAsBillingField = function() {
        var _this_form = $(this);
		$(_this_form.find('.same-as-billing-field:not(.processed)')).addClass('processed').each(function(i, o){
            var target_element = $($(o).attr('data-target'));
			$(o).on('ifChecked', function(event){
                if (target_element.length) {
                    target_element.fadeOut('fast');
                }
            });
            $(o).on('ifUnchecked', function(event){
                if (target_element.length) {
                    target_element.fadeIn('fast');
                }
            });
		});
	}

	$.fn.initPromoCodeField = function() {
        var _this_form = $(this);
		$(_this_form.find('.promo-code-field:not(.processed)')).addClass('processed').each(function(i, o){
			$(o).blur(function(){
                if ($.trim($(o).val())) {
                    _this_form.refreshCheckoutForm('AppPromoCode');
                } else if ($(o).closest('.form-group').find('.message').length) {
                    $(o).closest('.form-group').find('.message').remove();
                }
			});
		});
	}

    // $.fn.initGiftWrapFields = function() {
    //     var _this_form = $(this);
	// 	$(_this_form.find('.gift-wrap-field:not(.processed)')).addClass('processed').each(function(i, o){
	// 		$(o).change(function(){
    //             _this_form.find('.wrap-images .item').hide();
    //             _this_form.find('.wrap-prices .item').hide();
    //             if ($(o).val()) {
    //                 var selectedIndex = $(o).find('option:selected').index();
    //                 _this_form.find('.wrap-images .item:eq(' + (selectedIndex - 1) + ')').fadeIn('fast');
    //                 _this_form.find('.wrap-prices .item:eq(' + (selectedIndex - 1) + ')').fadeIn('fast');
    //             }
    //             _this_form.refreshCheckoutForm();
	// 		});
	// 	});
	// }

	$.fn.refreshCheckoutForm = function(validationGroup) {
        if (typeof validationGroup === "undefined") {
            validationGroup = null;
        }
		var _this_form = $(this);
		var _form_parent = _this_form.closest('.form-wrapper');

		_this_form.handleFormMultipleSubmission();

		var form_data = _this_form.serialize();
		if (_this_form.hasClass('not-valid')) {
			form_data = form_data + '&validate=1';
		} else if (validationGroup) {
            form_data = form_data + '&validationGroup=' + validationGroup;
        }

        var openedPanes = [];
        _this_form.find('.panes .panel:not(.closed)').each(function(i, o){
            openedPanes.push($(o).attr('data-key'));
        });
        if (openedPanes.length) {
            form_data = form_data + '&openedPanes=' + openedPanes.join('__');
        }

		$.ajax({
            type: _this_form.attr('method'),
            url: '{{ path('app_store_order_checkout_refresh_form', { cartId: activeOrder.id }) }}',
            dataType: "json",
            data: form_data
        })
        .done(function(response) {
        	if (typeof response.form_html !== "undefined") {
        		var new_form = $(response.form_html);
        		_this_form.replaceWith(new_form);
        		new_form.initCheckoutForm();
        	}
        	$.unblockUI();
        })
        .fail(function() {
			$.blockUI({ 
	            message: '<div class="messages messages--error"><ul class="messages__list"><li class="messages__item">An error occured while processing your request. Please contact administrator.</li></ul></div>', 
	            timeout: 2000,
	            css: { 
					border: 'none', 
			 		backgroundColor: 'transparent',
		 			left: '50%',
			 		marginLeft: '-150px',
			 		width: '300px',
			 	}
	        });
			_this_form.removeClass('processing');
        });
	}

})(jQuery);
</script>