{% if layout is not defined %}
    {% set layout = 'default' %}
{% endif %}

{% if layout == 'simple' %}
    {{ include('AppBundle:Theme\\Store\\Default\\Order:summary_layout\\simple.html.twig') }}
{% else %}
    {{ include('AppBundle:Theme\\Store\\Default\\Order:summary_layout\\default.html.twig') }}
{% endif %}
