{% block block %}
	{#<!-- for controller implementation -->#}
    {% set blockIDParts = block.id|split('.') %}
	{% set htmlClass = 'block-products-' ~ blockIDParts[0] %}
	<div class="{{ htmlClass }} {% if settings.class is not empty %}{{ settings.class }}{% endif %} {% block block_class %}{% endblock %}">
		<div class="{% block list_class %}{% endblock %}">
		{% block list_content %}
			{% if products is not empty and settings.headerTitle is not empty %}
            <div class="heading-title {% if settings.headerTitleWrapperClass is not empty %}{{ settings.headerTitleWrapperClass }}{% endif %}">
                <div class="bar">&nbsp;</div>
                <h3 class="{% if settings.headerTitleClass is not empty %}{{ settings.headerTitleClass }}{% endif %}">{{ settings.headerTitle }}</h1>
            </div>
			{% endif %}
			{% if products is not empty %}
				{{ include(templateLayout, { products: products }) }}
			{% elseif settings.showNoResultsMessage %}
				<div class="messages messages--warning">
					<ul class="messages__list">
				        <li class="messages__item">No results found</li>
				    </ul>
				</div>
			{% endif %}
		{% endblock %}
		</div>
	</div>
{% if products is not empty %}
    <script type="text/javascript">
    (function ($) {

        $(document).ready(function(){
            {% set blockIDParts = block.id|split('.') %}
            $('.{{ 'block-products-' ~ blockIDParts[0] }}').initBlockProductResultsList{{ blockIDParts[0] }}();
        });

        $.fn.initBlockProductResultsList{{ blockIDParts[0] }} = function() {
            var _this_results_list = $(this);
            $(_this_results_list.find('.color-selection .selector:not(.processed)')).addClass('processed').each(function(i, o){
                $(o).click(function(e){
                    e.preventDefault();
                    var _this = $(this);
                    var target = _this_results_list.find(_this.attr('data-target'));
                    var parentWrapper = _this.closest('.product-item');
                    parentWrapper.find('.thumb a, .details-bottom').hide();
                    _this.parent().find('.selector').removeClass('active');
                    _this.addClass('active');
                    target.show();
                });
            });
        }

    })(jQuery);
    </script>
    {% endif %}
{% endblock %}