{% set parentProduct = object %}
{% if object.parent %}
    {% set parentProduct = object.parent %}
{% endif %}
{% if parentProduct.type.productAttributes|length > 0 %}
<ul style="padding-left: 20px;">
    {% for productTypeAttribute in parentProduct.type.productAttributes %}
        {% if productTypeAttribute.code == 'color' and object.color %}
        <li>{{ productTypeAttribute.name }}: {{ object.color.name }}</li>
        {% elseif productTypeAttribute.code == 'size' and object.size %}
        <li>{{ productTypeAttribute.name }}: {{ object.size.name }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}