<span class="inner-field-short-description">
    {% if object and admin.hasRoute('edit') and admin.hasAccess('edit') %}
        {% if object.parent %}
        {% set link_parameters = link_parameters|merge({ childId: object.id }) %}
        <a href="{{ admin.generateObjectUrl('app.store.admin.product_variation.edit', object.parent, link_parameters) }}" target="new">{{ description }}</a>
        {% else %}
        <a href="{{ admin.generateObjectUrl('edit', object, link_parameters) }}" target="new">{{ description }}</a>
        {% endif %}

        {% include 'AppBundle:CRUD\\Store\\Product:product_attributes_list_view.html.twig' with { object: object } only %}
    {% else %}
        {{ description }}
    {% endif %}
</span>
