{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block navbar_title %}
    {{ 'title_show'|trans({'%name%': admin.toString(object)|truncate(100) }, 'SonataAdminBundle') }}
    {% if object.type is defined and object.type is not empty %}
		<small style="font-size: .7em;"><em>{{ 'title_show_product_type'|trans({'%name%': admin.toString(object)|truncate(100), '%type%': object.getType.getName() }, 'SonataAdminBundle') }}</em></small>
	{% endif %}
{% endblock %}