{% extends 'AppBundle:Theme\\Store\\Default\\Layout:default.html.twig' %}

{% block page_body_class %}{{ parent() }}{% endblock %}

{% block page_content_main %}
<div class="container-fluid">
    {{ include('AppBundle:Theme\\Store\\Default\\Common:page_title.html.twig', { customPageTitle: 'CONFIRM PAYMENT' }) }}

    <div class="bg-white padding-4 margin-b-5">
        {{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}
        
        {% if content is defined %}
            {{ content|raw }}
        {% else %}
            {% set content = block('content') is defined ? block('content') : '' %}
            {% if content|length > 0 %}
                {{ content|raw }}
            {% elseif page is defined %}
                {{ sonata_page_render_container('content', page) }}
            {% endif %}
        {% endif %}

        <div class="confirm-payment-form">
            <div class="confirm-payment-wrapper">
                {{ include('AppBundle:Theme\\Store\\Default\\ConfirmPayment:form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sonata_page_asset_footer %}
{{ parent() }}
{{ include('AppBundle:Theme\\Store\\Default\\ConfirmPayment:scripts.html.twig') }}
{% endblock sonata_page_asset_footer %}