{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block navbar_title %}
    {# NEXT_MAJOR: remove default filter #}
    {% if objectId|default(admin.id(object)) is not null %}
		{{ 'title_edit'|trans({'%name%': admin.toString(object)|truncate(100) }, 'SonataAdminBundle') }}
    	{% if object.type is defined and object.type is not empty %}
    		<small style="font-size: .7em;"><em>{{ 'title_edit_article_type'|trans({'%name%': admin.toString(object)|truncate(100), '%type%': object.getTypeLabel() }, 'SonataArticleBundle') }}</em></small>
    	{% endif %}
    {% else %}
		{{ 'title_create'|trans({}, 'SonataAdminBundle')|truncate(100) }}
    	{% if object.type is defined and object.type is not empty %}
    		<small style="font-size: .7em;"><em>{{ 'title_create_article_type'|trans({'%type%': object.getTypeLabel() }, 'SonataArticleBundle') }}</em></small>
    	{% endif %}
    {% endif %}
{% endblock %}