<html>
<head>
<style type="text/css">
@media screen {
    @font-face {
        font-family: 'open_sansregular';
        src: url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot')) }}');
        src: url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix')) }}') format('embedded-opentype'),
            url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff')) }}') format('woff'),
            url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf')) }}') format('truetype'),
            url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular')) }}') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'open_sansbold';
        src: url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot')) }}');
        src: url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix')) }}') format('embedded-opentype'),
            url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff')) }}') format('woff'),
            url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf')) }}') format('truetype'),
            url('{{ absolute_url(asset('bundles/app/theme/store/default/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansregular')) }}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
</style>
<style type="text/css">
body {
    padding: 0px;
    margin: 0px;
    background-color: #fafafa;
    font-family: 'open_sansregular', Arial, sans-serif;
    font-size: 13px;
}
table {
    font-size: 13px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
table th {
    padding: 8px;
    vertical-align: top;
}
table td {
    padding: 8px;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
p {
    margin-top: 0px;
}
ul {
    font-size: 13px;
}
h4 {
    font-size: 15px;
}
.mail-template-wrapper {
    background-color: #fafafa;
    padding: 10px 20px;
}
.mail-template-wrapper .inner {
    width: 700px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 20px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/* messages */
.messages-simple-wrapper {
    font-size: 11px;
    margin-bottom: 2rem;
}
.messages-simple-wrapper ul {
    padding-left: 20px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.messages-simple-wrapper.messages-danger {
    background-color: #ffffff;
    color: #f36666;
    border: 1px solid #f36666;
    padding: 10px;
}
.messages-simple-wrapper.messages-danger a {
    color: #f36666;
}
.messages-simple-wrapper.messages-danger a:hover {
    text-decoration: underline;
}

/* cart */
.table-cart {

}
.table-cart thead tr {
    background-color: #989898;
}
.table-cart > tbody > tr:nth-of-type(odd) {
    background-color: #FAFAFA;
}
.table-cart > tbody > tr {
    background-color: #ececec;
}
.table-cart thead th {
    color: #ffffff;
}
.table-cart > tbody > tr > td {
    border-color: #ffffff;
}
.table-cart tr > .col-actions {
    width: 100px;
}
.table-cart tr > .col-img {
    width: 180px;
}
.table-cart tr > .col-name {
    width: 50%;
    text-align: left !important;
}
.table-cart tr > .col-qty {
    width: 120px;
}
.table-cart tr > .col-price {
    width: 170px;
}
.table-cart tr > .col-actions a {
    font-size: 20px;
}
.table-cart .product-img {
    max-width: 100px;
    margin: 0 auto;
}
.table-cart .field-qty {
    width: 60px;
    margin: 0 auto;
    text-align: center;
}

/* order */
.table-order-summary-simple thead tr {
    background-color: transparent;
}
.table-order-summary-simple thead th {
    color: #1b1b1b;
}
.table-order-totals > tbody > tr > th {
    padding: 8px;
}
.table-order-totals > tbody > tr > td {
    padding: 8px;
}

/* order invoice */
.content-wrapper .section-header {
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    padding: 10px 0px;
}
.content-wrapper .section-header h4 {
    margin: 0px;
}
.content-wrapper .section-body {
    padding: 15px 0px;
}
.content-wrapper .info-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0px;
}
.content-wrapper .info-table tr th {
    padding: 8px;
    text-align: right;
    width: 50%;
    vertical-align: top;
}
.content-wrapper .info-table tr td {
    padding: 8px;
    width: 50%;
    vertical-align: top;
    text-align: left;
}
.content-wrapper .messages-simple-wrapper {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.content-wrapper .table-order-totals {

}
.content-wrapper .table-order-totals > tbody > tr {
    background-color: transparent;
}
.content-wrapper .table-order-totals > tbody > tr > td {
    border-top: 1px solid #ddd !important;
}
.content-wrapper .table-order-totals > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}
.content-wrapper .row-totals {
    overflow: hidden;
}
.content-wrapper .table-order-totals {
    float: right;
}
.price s {
    color: #c53f3e;
}
</style>
</head>
<body>
<div class="mail-template-wrapper">
    <div class="inner">
        <div class="content-wrapper">
            <div class="section-body">
                <p>Hi <strong>{{ (order.billingFirstname ~ ' ' ~ order.billingLastname)|upper }}</strong>!</p>
                <p>We would like to inform you that we have already received your payment for your order with confirmation number <strong>{{ order.orderNumber }}</strong> amounting of <strong>{{ app_currency }} {{ order.finalTotalPrice|number_format(2, '.', ',') }}</strong>.</p>
                <p>Thank you for shopping at {{ site_name }}!</p>
            </div>
            <div>
                <strong>Sincerely</strong>,<br />
                <img src="{{ absolute_url(asset('bundles/app/theme/store/default/images/logo.png')) }}" alt="{{ site_name }}" title="{{ site_name }}" style="width: 150px; height: auto;" />
            </div>
        </div>
    </div>
</div>
</body>
</html>
