<div class="form-group {% if form.billingFirstName.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(form.billingFirstName, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(form.billingFirstName, { attr: {} }) }}
        </div>
    </div>
    {% if form.billingFirstName.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingFirstName) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group {% if form.billingLastName.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(form.billingLastName, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(form.billingLastName, { attr: {} }) }}
        </div>
    </div>
    {% if form.billingLastName.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingLastName) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group {% if form.billingEmail.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(form.billingEmail, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(form.billingEmail, { attr: {} }) }}
        </div>
    </div>
    {% if form.billingEmail.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingEmail) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group form-group-address1 {% if form.billingAddress1.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-top col-label">
            {{ form_label(form.billingAddress1, null, { attr: {} }) }}
        </div>
        <div class="valign-top col-field">
            {{ form_widget(form.billingAddress1, { attr: {} }) }}
        </div>
    </div>
    {% if form.billingAddress1.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-top col-label">&nbsp;</div>
        <div class="valign-top col-field">
            {{ form_errors(form.billingAddress1) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group {% if form.billingAddress2.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-top col-label">
            {{ form_label(form.billingAddress2, null, { attr: {} }) }}
        </div>
        <div class="valign-top col-field">
            {{ form_widget(form.billingAddress2, { attr: {} }) }}
        </div>
    </div>
    {% if form.billingAddress2.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingAddress2) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group {% if form.billingPostalCode.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(form.billingPostalCode, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(form.billingPostalCode, { attr: { class: 'inputmask-zipcode' } }) }}
        </div>
    </div>
    {% if form.billingPostalCode.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingPostalCode) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group {% if form.billingRegion.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(form.billingRegion, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {% set attr = { class: 'region-field', 'data-target': '#' ~ form.billingCity.vars.id } %}
            {{ form_widget(form.billingRegion, { attr: attr }) }}
        </div>
    </div>
    {% if form.billingRegion.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingRegion) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group {% if form.billingCity.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(form.billingCity, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(form.billingCity, { attr: {} }) }}
        </div>
    </div>
    {% if form.billingCity.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingCity) }}
        </div>
    </div>
    {% endif %}
</div>
<div class="form-group {% if form.billingContactNumber.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(form.billingContactNumber, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(form.billingContactNumber, { attr: { class: 'inputmask-mobile' } }) }}
        </div>
    </div>
    {% if form.billingContactNumber.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.billingContactNumber) }}
        </div>
    </div>
    {% endif %}
</div>