{% set formGiftWrap = form.giftWrap %}
{# {% set selectedGiftWrap = form.giftWrap.vars.data ? form.giftWrap.vars.data.id : (formGiftWrap.vars.choices|first).data.id %} #}
{% set selectedGiftWrap = form.giftWrap.vars.data ? form.giftWrap.vars.data.id : null %}
<table class="table table-striped table-layout1 table-gift-wraps">
    <thead>
        <tr>
            <th class="text-center">Wrap Selection</th>
            <th class="text-center">Wrap Image</th>
            <th class="text-center">Wrap Price</th>
            <th class="text-center">Dedication</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center valign-mid col-wrap">
                <div class="form-group margin-b-0 {% if formGiftWrap.vars.errors|length > 0 %}has-error{% endif %}">
                    {{ form_widget(formGiftWrap, { attr: { class: 'gift-wrap-field', 'data-allowClear': 1 } }) }}
                    {% if formGiftWrap.vars.errors|length > 0 %}
                    {{ form_errors(formGiftWrap) }}
                    {% endif %}
                </div>
            </td>
            <td class="text-center valign-mid col-img">
                <div class="wrap-images">
                    {% for giftWrapOption in formGiftWrap.vars.choices %}
                    <div class="item" {% if selectedGiftWrap != giftWrapOption.data.id %}style="display: none;"{% endif %}>
                        {% media giftWrapOption.data.image, 'reference' with { class: 'img-responsive', title: giftWrapOption.data.name, alt: giftWrapOption.data.name } %}
                        <p>{{ giftWrapOption.data.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </td>
            <td class="text-center valign-mid col-price">
                <div class="wrap-prices">
                    {% for giftWrapOption in formGiftWrap.vars.choices %}
                    <div class="item" {% if selectedGiftWrap != giftWrapOption.data.id %}style="display: none;"{% endif %}>{{ app_currency }} {{ giftWrapOption.data.price|number_format(2, '.', ',') }}</div>
                    {% endfor %}
                </div>
            </td>
            <td class="text-center valign-mid">
                <div class="wrap-dedication">
                    {{ form_widget(form.giftWrapDedication, { attr: {} }) }}
                </div>
            </td>
        </tr>
    </tbody>
</table>