{% set formPaymentMethod = form.paymentMethod %}
<div class="form-group {% if formPaymentMethod.vars.errors|length > 0 %}has-error{% endif %}">
    {{ form_widget(formPaymentMethod, { attr: {} }) }}
    {% if formPaymentMethod.vars.errors|length > 0 %}
    {{ form_errors(formPaymentMethod) }}
    {% endif %}
</div>