{% set formPromoCode = form.promoCode %}
<div class="form-group {% if formPromoCode.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-mid col-label">
            {{ form_label(formPromoCode, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(formPromoCode, { attr: { class: 'promo-code-field' } }) }}
        </div>
    </div>
    {% if formPromoCode.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(formPromoCode) }}
        </div>
    </div>
    {% endif %}
</div>