<div class="shipping-info-fields-wrapper" {% if form.shippingSameAsBilling.vars.data %}style="display: none;"{% endif %}>
    <div class="form-group {% if form.shippingFirstName.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-mid col-label">
                {{ form_label(form.shippingFirstName, null, { attr: {} }) }}
            </div>
            <div class="valign-mid col-field">
                {{ form_widget(form.shippingFirstName, { attr: {} }) }}
            </div>
        </div>
        {% if form.shippingFirstName.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingFirstName) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.shippingLastName.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-mid col-label">
                {{ form_label(form.shippingLastName, null, { attr: {} }) }}
            </div>
            <div class="valign-mid col-field">
                {{ form_widget(form.shippingLastName, { attr: {} }) }}
            </div>
        </div>
        {% if form.shippingLastName.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingLastName) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.shippingEmail.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-mid col-label">
                {{ form_label(form.shippingEmail, null, { attr: {} }) }}
            </div>
            <div class="valign-mid col-field">
                {{ form_widget(form.shippingEmail, { attr: {} }) }}
            </div>
        </div>
        {% if form.shippingEmail.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingEmail) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group form-group-address1 {% if form.shippingAddress1.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-top col-label">
                {{ form_label(form.shippingAddress1, null, { attr: {} }) }}
            </div>
            <div class="valign-top col-field">
                {{ form_widget(form.shippingAddress1, { attr: {} }) }}
            </div>
        </div>
        {% if form.shippingAddress1.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-top col-label">&nbsp;</div>
            <div class="valign-top col-field">
                {{ form_errors(form.shippingAddress1) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.shippingAddress2.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-top col-label">
                {{ form_label(form.shippingAddress2, null, { attr: {} }) }}
            </div>
            <div class="valign-top col-field">
                {{ form_widget(form.shippingAddress2, { attr: {} }) }}
            </div>
        </div>
        {% if form.shippingAddress2.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingAddress2) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.shippingPostalCode.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-mid col-label">
                {{ form_label(form.shippingPostalCode, null, { attr: {} }) }}
            </div>
            <div class="valign-mid col-field">
                {{ form_widget(form.shippingPostalCode, { attr: { class: 'inputmask-zipcode' } }) }}
            </div>
        </div>
        {% if form.shippingPostalCode.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingPostalCode) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.shippingRegion.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-mid col-label">
                {{ form_label(form.shippingRegion, null, { attr: {} }) }}
            </div>
            <div class="valign-mid col-field">
                {% set attr = { class: 'region-field', 'data-target': '#' ~ form.shippingCity.vars.id } %}
                {{ form_widget(form.shippingRegion, { attr: attr }) }}
            </div>
        </div>
        {% if form.shippingRegion.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingRegion) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.shippingCity.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-mid col-label">
                {{ form_label(form.shippingCity, null, { attr: {} }) }}
            </div>
            <div class="valign-mid col-field">
                {{ form_widget(form.shippingCity, { attr: {} }) }}
            </div>
        </div>
        {% if form.shippingCity.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingCity) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.shippingContactNumber.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="tbl">
            <div class="valign-mid col-label">
                {{ form_label(form.shippingContactNumber, null, { attr: {} }) }}
            </div>
            <div class="valign-mid col-field">
                {{ form_widget(form.shippingContactNumber, { attr: { class: 'inputmask-mobile' } }) }}
            </div>
        </div>
        {% if form.shippingContactNumber.vars.errors|length > 0 %}
        <div class="tbl">
            <div class="valign-mid col-label">&nbsp;</div>
            <div class="valign-mid col-field">
                {{ form_errors(form.shippingContactNumber) }}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="form-group {% if form.shippingSameAsBilling.vars.errors|length > 0 %}has-error{% endif %}">
    {{ form_widget(form.shippingSameAsBilling, { attr: { class: 'same-as-billing-field', 'data-target': '.shipping-info-fields-wrapper' } }) }}
</div>
<div class="form-group {% if form.shippingInstructions.vars.errors|length > 0 %}has-error{% endif %}">
    <div class="tbl">
        <div class="valign-top col-label padding-t-1">
            {{ form_label(form.shippingInstructions, null, { attr: {} }) }}
        </div>
        <div class="valign-mid col-field">
            {{ form_widget(form.shippingInstructions, { attr: {} }) }}
        </div>
    </div>
    {% if form.shippingInstructions.vars.errors|length > 0 %}
    <div class="tbl">
        <div class="valign-mid col-label">&nbsp;</div>
        <div class="valign-mid col-field">
            {{ form_errors(form.shippingInstructions) }}
        </div>
    </div>
    {% endif %}
</div>