{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="messages messages-{{ type }}">
                <ul class="messages__list">
                    <li class="messages__item">{{ message|raw }}</li>
                </ul>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 bg-white">
        
        {% if error %}
            <div class="messages messages--error">
                <ul class="messages__list">
                    <li class="messages__item"><small>{{ error.messageKey|trans(error.messageData, 'security') }}</small></li>
                </ul>
            </div>
        {% endif %}
        
        <form action="{{ path("fos_user_security_check") }}" method="post" novalidate>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" />
                <div class="margin-t-2 text-right">
                    <a href="{{ path('fos_user_resetting_request') }}"><small><em>Forgot Password</em></small></a>
                </div>
            </div>

            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                    <input type="submit" id="_submit" class="btn btn-black btn-block margin-b-2" name="_submit" value="{{ 'security.login.submit'|trans|upper }}" />
                    <div>
                        <a href="{{ path('hwi_oauth_service_redirect', { service: 'facebook' }) }}" class="btn btn-blue btn-block"><i class="fa fa-facebook valign-mid fs-1_25">&nbsp;</i> <span class="valign-mid">Sign in via facebook</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>