{% extends base_template %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% block content %}
<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">{{ box_title|trans({}, 'SonataAdminBundle') }}</h3>
    </div>
    <div class="box-body">
	    {% if type_options is defined and type_options is not empty %}
    	<p>Select the article type you want to create.</p>
	    <div class="row">
	    	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="list-group">
		    	{% for key, type_option in type_options %}
			  		<a href="{{ admin.generateUrl('create', { type: key }) }}" class="list-group-item"><strong>{{ type_option }}</strong></a>
		    	{% endfor %}
				</div>
			</div>
		</div>
	    {% else %}
	    <div class="alert alert-danger">
	    	<p>No type options available.</p>
	    </div>
	    {% endif %}
    </div>
</div>
{% endblock %}