{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-0 col-xs-2 col-xs-offset-0">
        <div class="text-center">
            <h2 class="margin-b-4">Password request created</h2>
            <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
        </div>
    </div>
</div>