{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 bg-white">

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="user_reset_request" novalidate>
            <div class="form-group">
                <label for="username" class="control-label">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" class="form-control" id="username" name="username" required="required" />
            </div>
            <div>
                <input type="submit" class="btn btn-black btn-block" value="{{ 'resetting.request.submit'|trans|upper }}" />
            </div>
        </form>

    </div>
</div>