{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 bg-white">
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', { token: token }), attr: { class: 'user_reset_reset', novalidate: true } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-black btn-block" value="{{ 'resetting.reset.submit'|trans|upper }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>