{% set displayFlashFinal = false %}
{% if displayFlash is defined %}
    {% set displayFlashFinal = true %}
{% endif %}
{% if displayFlashFinal %}
{{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}
{% endif %}

{% if activeOrder and activeOrder.lineItems|length > 0 %}

    {% form_theme form 'AppBundle:Form:fields.html.twig' %}

    {% set formClasses = [] %}
    {% if not form.vars.valid %}
        {% set formClasses = formClasses|merge(['not-valid']) %}
    {% endif %}
    {{ form_start(form, { attr: { novalidate: 'novalidate', id: form.vars.id, class: formClasses|join(' ') } }) }}

    {% if form.vars.errors is not empty %}
    <div class="messages messages--error">
        <ul class="messages__list">
        {% for error in form.vars.errors %}
            <li class="messages__item">{{ error.message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <table class="table table-striped table-cart">
        <thead>
            <tr>
                <th class="col-actions text-center">Remove</th>
                <th class="col-img text-center">Image</th>
                <th class="col-name text-center">Product / Description</th>
                <th class="col-price text-center">Price</th>
                <th class="col-qty text-center">Quantity</th>
                <th class="col-price text-center">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for formLineItem in form.lineItems %}
            {% set lineItem = formLineItem.vars.data %}
            {% set priceData = lineItem.getPriceData() %}
            <tr>
                <td class="text-center valign-mid col-actions">
                    <a href="#" data-action="{{ path('app_store_cart_remove_item', { id: lineItem.id }) }}" data-itemname="{{ lineItem.product.name }}" data-itemid="{{ lineItem.id }}" data-toggle="modal" data-target="#confrim-delete-cart-item-modal"><i class="fa fa-trash-o">&nbsp;</i></a>
                </td>
                <td class="col-img valign-mid">
                    <a href="{{ path('app_store_product_view', { slug: lineItem.product.slug }) }}" class="variation-part-{{ lineItem.product.id }}">
                        {% if lineItem.product.thumbnail %}
                            {% media lineItem.product.thumbnail, 'reference' with { class: 'img-responsive product-img', title: lineItem.product.name, alt: lineItem.product.name } %}
                        {% else %}
                            <img src="{{ asset('bundles/app/theme/store/default/images/placeholder-01.jpg') }}" class="img-responsive product-img" title="{{ lineItem.product.name }}" alt="{{ lineItem.product.name }}" />
                        {% endif %}
                    </a>
                </td>
                <td class="col-name valign-mid">
                    <a href="{{ path('app_store_product_view', { slug: lineItem.product.slug }) }}"><strong>{{ lineItem.product.name }}</strong></a>
                    {% set parentProduct = lineItem.product %}
                    {% if lineItem.product.parent %}
                        {% set parentProduct = lineItem.product.parent %}
                    {% endif %}
                    {% if parentProduct.type.productAttributes|length > 0 %}
                    <ul class="margin-t-2">
                        {% for productTypeAttribute in parentProduct.type.productAttributes %}
                            {% if productTypeAttribute.code == 'color' and lineItem.product.color %}
                            <li>{{ productTypeAttribute.name }}: {{ lineItem.product.color.name }}</li>
                            {% elseif productTypeAttribute.code == 'size' and lineItem.product.size %}
                            <li>{{ productTypeAttribute.name }}: {{ lineItem.product.size.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td class="col-price text-center valign-mid">
                    {% set priceClasses = '' %}
                    {% if priceData.hasDiscount %}
                        {% set priceClasses = 'text-red01' %}
                        <div class="price text-light-gray01 fs--8"><s>{{ app_currency }} {{ priceData.price|number_format(2, '.', ',') }}</s></div>
                    {% endif %}
                    <div class="price {{ priceClasses }}"><span class="currency">{{ app_currency }}</span> <span class="value">{{ priceData.finalPrice|number_format(2, '.', ',') }}</span></div>
                </td>
                <td class="col-qty text-center valign-mid">
                    <div class="form-group margin-b-0 {% if formLineItem.quantity.vars.errors|length > 0 %}has-error{% endif %}">
                        {{ form_widget(formLineItem.quantity, { attr: { class: 'field-qty' } }) }}
                        {{ form_errors(formLineItem.quantity) }}
                    </div>
                </td>
                <td class="col-price text-center valign-mid">
                    {% set priceClasses = '' %}
                    {% if priceData.hasDiscount %}
                        {% set priceClasses = 'text-red01' %}
                        <div class="price text-light-gray01 fs--8"><s>{{ app_currency }} {{ priceData.subTotal|number_format(2, '.', ',') }}</s></div>
                    {% endif %}
                    <div class="price {{ priceClasses }}"><span class="currency">{{ app_currency }}</span> <span class="value">{{ priceData.finalSubTotal|number_format(2, '.', ',') }}</span></div>
                </td>
            </tr>
            {% endfor %}
            <tr class="bg-dark-gray text-white">
                <td colspan="4"></td>
                <td class="text-right fs-1_25">TOTAL</td>
                <td class="text-center"><div class="price fs-1_25"><span class="currency">{{ app_currency }}</span> <span class="value">{{ orderTotals.lineItemsFinalTotalPrice|number_format(2, '.', ',') }}</span></div></td>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        {{ form_widget(form.update, { attr: { class: 'btn btn-black text-uppercase' } }) }}
        {{ form_widget(form.checkout, { attr: { class: 'btn btn-black text-uppercase' } }) }}
    </div>

    {# <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="form-inline">
                <div class="form-group">
                    {{ form_label(form.sort) }}
                    {{ form_widget(form.sort, { attr: { class: 'select2-exclude' } }) }}
                </div>
            </div>
        </div>
    </div> #}

    {# <div style="display: none;">
        {{ form_row(form.brand) }}
        {{ form_row(form.price) }}
        {{ form_row(form.color) }}
        {{ form_row(form.size) }}
        {{ form_row(form.theme) }}
        {{ form_widget(form.submit, { attr: { class: 'btn btn-black' } }) }}
    </div> #}

    {{ form_end(form) }}

{% else %}
<div class="messages messages--warning">
    <ul class="messages__list">
        <li class="messages__item">There are no items on your cart.</li>
    </ul>
</div>
{% endif %}