{{ form_start(form, { attr: { novalidate: 'novalidate', id: form.vars.id } }) }}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="confrim-delete-cart-item-label">Delete Item Confirmation</h4>
</div>
<div class="modal-body">
    {% set displayFlashFinal = false %}
    {% if displayFlash is defined %}
        {% set displayFlashFinal = true %}
    {% endif %}
    {% if displayFlashFinal %}
    {{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}
    {% endif %}
    {{ form_errors(form) }}
    <div class="messages messages--warning">
        <ul class="messages__list">
            <li class="messages__item">Do you want to delete item "<strong class="item-name">{{ itemName is defined ? itemName }}</strong>"?</li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-black">Confirm</button>
</div>
{{ form_end(form) }}