<script type="text/javascript">
(function ($) {

	$(document).ready(function(){
		
        $('#{{ removeItemConfirmForm.vars.id }}').initConfirmDeleteLineItemForm();

        $('#confrim-delete-cart-item-modal').on('show.bs.modal', function (event) {
            var trigger = $(event.relatedTarget) // Element that triggered the modal
            var itemName = trigger.attr('data-itemname');
            var itemId = trigger.attr('data-itemid');
            var action = trigger.attr('data-action');
            
            var modal = $(this)
            modal.find('.item-name').text(itemName);
            modal.find('#{{ removeItemConfirmForm.item.vars.id }}').val(itemId);
            modal.find('#{{ removeItemConfirmForm.vars.id }}').attr('action', action);
        });

        $('#confrim-delete-cart-item-modal').on('hidden.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.item-name').text("");
            modal.find('#{{ removeItemConfirmForm.item.vars.id }}').val("");
            modal.find('#{{ removeItemConfirmForm.vars.id }}').attr('action', "");
        });

	});

    $.fn.initConfirmDeleteLineItemForm = function() {
		var _this_form = $(this);

        $(_this_form).submit(function(){
            $(this).processConfirmDeleteLineItemForm();
            return false;
        });
	}

    $.fn.processConfirmDeleteLineItemForm = function() {
		var _this_form = $(this);
		var form_parent = _this_form.closest('.form-wrapper');
		var results_list = form_parent.siblings('.results-list');
        
		_this_form.handleFormMultipleSubmission();

		var form_data = _this_form.serialize();

		$.ajax({
            type: _this_form.attr('method'),
            url: _this_form.attr('action'),
            dataType: "json",
            data: form_data
        })
        .done(function(response) {
            if (typeof response.success !== "undefined" && response.success == 1 && typeof response.cart_form_html !== "undefined" && response.cart_form_html != "") {
                var new_form = $(response.cart_form_html);
                $('.cart-form .cart-form-wrapper').replaceWith(new_form);
                _this_form.removeClass('processing');
                _this_form.closest('.modal').modal('hide');
            } else if (typeof response.form_html !== "undefined") {
        		var new_form = $(response.form_html);
        		_this_form.replaceWith(new_form);
        		new_form.initConfirmDeleteLineItemForm();
        	}
        	$.unblockUI();
        })
        .fail(function() {
			$.blockUI({ 
	            message: '<div class="messages messages--error"><ul class="messages__list"><li class="messages__item"><small>An error occured while processing your request. Please contact administrator.</small></li></ul></div>', 
	            timeout: 3000,
	            css: {
					border: 'none', 
			 		backgroundColor: 'transparent',
		 			left: '50%',
			 		marginLeft: '-150px',
			 		width: '300px',
			 	},
                overlayCSS:  { 
                    backgroundColor: '#ffffff', 
                    opacity: 0.6, 
                    cursor: 'wait'
                }
	        });
			_this_form.removeClass('processing');
        });
	}

})(jQuery);
</script>