{% extends "bootstrap_3_layout.html.twig" %}

{% block checkbox_radio_label %}
    {% if sonata_admin.admin %}
        {% set translation_domain = sonata_admin.field_description.translationDomain %}
    {% endif %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        
        {% set label_attr = label_attr|merge({ for: form.vars.id }) %}

        {{- widget|raw -}}
        {%- if label is not same as(false) -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if translation_domain is same as(false) %}
                {{- label -}}
            {% else %}
                {{- label|trans({}, translation_domain) -}}
            {%- endif -%}
            {% if required %}
            <span class="asterisk">*</span>
            {% endif %}
        </label>
        {%- endif -%}
    {% endif %}
{% endblock checkbox_radio_label %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form is not rootform %}<span class="help-block">{% else %}<div class="messages messages--error">{% endif %}
    <ul class="messages__list fs--8">
        <li class="messages__item">{{ (errors|first).message }}</li>
    </ul>
    {% if form is not rootform %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% if type == 'file' %}
    <div class="form-inline fileinput-new file-upload file-upload-{{ form.vars.id }}" data-provides="fileinput">
        <div class="form-group">
            <div class="col1">
                <div class="input-group">
                    <div class="form-control" data-trigger="fileinput">
                        <span class="fileinput-filename" data-placeholder="{% if form.vars.attr.placeholder is defined %}{{ form.vars.attr.placeholder }}{% endif %}">
                            {% if form.vars.attr.placeholder is defined %}
                                {{ form.vars.attr.placeholder }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="input-group-addon">
                        <i class="fa fa-upload"></i>
                        <a href="#" id="remove-{{ form.vars.id }}" class="remove-file fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i></a>
                        <span class="hide">
                            {%- set type = type|default('text') -%}
                            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {{ parent() }}
    {% endif %}
{%- endblock form_widget_simple -%}