{% form_theme form 'AppBundle:Form:fields.html.twig' %}
{% set productVariations = [parentProduct] %}
{% if enabledVariations|length > 0 %}
    {% set productVariations = enabledVariations %}
{% endif %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="images">
    {% for productVariation in productVariations %}
        {% set productVariationAttrIds = [] %}
        {% if productVariation.color %}
            {% set productVariationAttrIds = productVariationAttrIds|merge([productVariation.color.id]) %}
        {% endif %}
        {% if productVariation.size %}
            {% set productVariationAttrIds = productVariationAttrIds|merge([productVariation.size.id]) %}
        {% endif %}
        {% set productVariationAttrClass = 'product-variation-attr' %}
        {% for productVariationAttrId in productVariationAttrIds|sort %}
            {% set productVariationAttrClass = productVariationAttrClass ~ '-' ~ productVariationAttrId %}
        {% endfor %}
        
        <div class="variation product-variation product-variation-{{ productVariation.id }} {{ productVariationAttrClass }}" {% if productVariation.id != selectedProduct.id %}style="display: none;"{% endif %}>
            <div class="preview">
                {% set galleryMediaCount = 0 %}
                {% if productVariation.gallery is not empty %}
                    {% for key, galleryMedia in productVariation.gallery.galleryHasMedias %}
                        {% set imageStyle = (key > 0) ? 'display: none;' %}
                        {% media galleryMedia.media, 'reference' with { class: 'img-responsive', title: productVariation.name, alt: productVariation.name, style: imageStyle } %}
                        {% set galleryMediaCount = galleryMediaCount + 1 %}
                    {% endfor %}
                {% elseif productVariation.image %}
                    {% media productVariation.image, 'reference' with { class: 'img-responsive', title: productVariation.name, alt: productVariation.name } %}
                {% else %}
                    <img src="{{ asset('bundles/app/theme/store/default/images/placeholder-01.jpg') }}" class="img-responsive" title="{{ productVariation.name }}" alt="{{ productVariation.name }}" />
                {% endif %}
            </div>
            {% if galleryMediaCount > 1 %}
            <div class="thumbnails text-center margin-t-3">
                {% for key, galleryMedia in productVariation.gallery.galleryHasMedias %}
                <a href="#" class="selector" style="{#background-image: url('{% path galleryMedia.media, 'reference' %}');#}">
                    {% media galleryMedia.media, 'reference' with { class: 'img-responsive', title: productVariation.name, alt: productVariation.name } %}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="details-and-form">
        {% set productVariationAttrColors = {} %}
        {% for productVariation in productVariations %}
            {% set productVariationAttrIds = [] %}
            {% if productVariation.color %}
                {% set productVariationAttrIds = productVariationAttrIds|merge([productVariation.color.id]) %}
                {% set productVariationAttrColors = productVariationAttrColors|merge({ ('color_' ~ productVariation.color.id): productVariation.color }) %}
            {% endif %}

            {% if productVariation.size %}
                {% set productVariationAttrIds = productVariationAttrIds|merge([productVariation.size.id]) %}
            {% endif %}
            {% set productVariationAttrClass = 'product-variation-attr' %}
            {% for productVariationAttrId in productVariationAttrIds|sort %}
                {% set productVariationAttrClass = productVariationAttrClass ~ '-' ~ productVariationAttrId %}
            {% endfor %}
            <div class="variation product-variation product-variation-{{ productVariation.id }} {{ productVariationAttrClass }}" {% if productVariation.id != selectedProduct.id %}style="display: none;"{% endif %}>
                {% set hasReservedStock = false %}
                {% set stock = 0 %}
                {% if remainingStocks[(productVariation.id)] is defined and remainingStocks[(productVariation.id)] is iterable %}
                    {% set stock = remainingStocks[(productVariation.id)].less_reserved %}
                    {% if remainingStocks[(productVariation.id)].reserved_stocks > 0 %}
                        {% set hasReservedStock = true %}
                    {% endif %}
                {% else %}
                    {% set stock = remainingStocks[(productVariation.id)] %}   
                {% endif %}
                {% if not hasReservedStock and stock is defined and stock <= 0 %}
                <div class="messages messages--warning">
                    <ul class="messages__list">
                        <li class="messages__item"><small>This product is currently out of stock.</small></li>
                    </ul>
                </div>
                {% endif %}
                <h1 class="fs-2 margin-b-4">{{ productVariation.name }}</h1>
                {% set priceClasses = [] %}
                {% set computedPrice = productVariation.computePrice() %}
                {% if computedPrice < productVariation.price %}
                    {% set priceClasses = priceClasses|merge(['text-red01']) %}
                <div class="price fs-1"><s>{{ app_currency }} {{ productVariation.price|number_format(2, '.', ',') }}</s></div>
                {% endif %}
                <div class="price fs-1_25 margin-b-4 {{ priceClasses|join(' ') }}"><u>{{ app_currency }} {{ computedPrice|number_format(2, '.', ',') }}</u></div>
                <div class="description">{{ productVariation.description|raw }}</div>
            </div>
        {% endfor %}

        <hr class="hr-layout01" />

        {{ form_start(form, { attr: { novalidate: 'novalidate', id: form.vars.id, class: (not form.vars.valid ? 'not-valid') } }) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                {% for productTypeAttribute in parentProduct.type.productAttributes %}
                    {% if form[(productTypeAttribute.code)] is defined %}
                    <div class="field-attr field-attr-{{ productTypeAttribute.code }}">
                    {% if productTypeAttribute.code == 'color' %}
                        <div class="form-group"{% if productVariationAttrColors|length <= 1 %} style="display: none;"{% endif %}>
                            {{ form_label(form[(productTypeAttribute.code)]) }}
                            <div style="display: none;">{{ form_widget(form[(productTypeAttribute.code)], { attr: { class: 'product-attribute-field', 'data-attr_code': productTypeAttribute.code } }) }}</div>
                            <div class="color-selection">
                                {% for productVariationAttrColor in productVariationAttrColors %}
                                <a href="#" class="selector{{ form[(productTypeAttribute.code)].vars.data.id == productVariationAttrColor.id ? ' active' }}" style="background-color: {{ productVariationAttrColor.hexCode }};" data-target="#{{ form[(productTypeAttribute.code)].vars.id }}" data-value="{{ productVariationAttrColor.id }}">&nbsp;</a>
                                {% endfor %}
                            </div>
                            {{ form_errors(form[(productTypeAttribute.code)]) }}
                        </div>
                        {% else %}
                        {{ form_row(form[(productTypeAttribute.code)], { attr: { class: 'product-attribute-field', 'data-attr_code': productTypeAttribute.code } }) }}
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}

                {{ form_row(form.quantity) }}

                {% if enabledVariations|length > 0 %}
                    {% for productVariation in enabledVariations %}
                        {% set productVariationAttrIds = [] %}
                        {% if productVariation.color %}
                            {% set productVariationAttrIds = productVariationAttrIds|merge([productVariation.color.id]) %}
                        {% endif %}
                        {% if productVariation.size %}
                            {% set productVariationAttrIds = productVariationAttrIds|merge([productVariation.size.id]) %}
                        {% endif %}
                        {% set productVariationAttrClass = 'product-variation-attr' %}
                        {% for productVariationAttrId in productVariationAttrIds|sort %}
                            {% set productVariationAttrClass = productVariationAttrClass ~ '-' ~ productVariationAttrId %}
                        {% endfor %}
                        <div class="product-variation product-variation-{{ productVariation.id }} {{ productVariationAttrClass }}" {% if productVariation.id != selectedProduct.id %}style="display: none;"{% endif %}>
                            {{ form_widget(form['submit_' ~ productVariation.id]) }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form_widget(form.submit, { attr: { class: 'btn btn-black text-uppercase' } }) }}
                {% endif %}

                {# {% if remainingStocks > 0 %}
                    {{ form_widget(form.submit, { attr: { class: 'btn btn-black text-uppercase' } }) }}
                {% else %}
                    {{ form_widget(form.submit, { attr: { class: 'btn btn-default text-uppercase disabled' }, label: 'Out of Stock' }) }}
                {% endif %} #}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>