<script type="text/javascript">
(function ($) {

    var variationsRef = $.parseJSON('{{ variationsRef|json_encode|raw }}');

	$(document).ready(function(){
		$('.products-nav li.dropdown > a').click(function(e){
			e.preventDefault();
			var _this = $(this);
			_this.siblings('ul').slideToggle('fast', 'swing', function(){
                _this.closest('li').toggleClass('open')
            });
		});

        // initialize variation reference
        if ($('#{{ form.vars.id }} .product-attribute-field').length > 0) {
            $.fn.initProductAtrributeFields();
            $('#{{ form.vars.id }} .product-attribute-field').trigger('change');
        }

        $('.product-view .product-variation .thumbnails .selector').click(function(e){
            e.preventDefault();
            var _this = $(this);
            var targetIndex = _this.index()
            _this.closest('.product-variation').find('.preview img').not(':eq(' + targetIndex + ')').hide();
            _this.closest('.product-variation').find('.preview img:eq(' + targetIndex + ')').fadeIn();
        });

        $('.product-view .color-selection .selector:not(.processed)').addClass('processed').each(function(i, o){
            $(o).click(function(e){
                e.preventDefault();
                var _this = $(this);
                var target = _this.closest('form').find(_this.attr('data-target'));
                var value = _this.attr('data-value');
                _this.parent().find('.selector').removeClass('active');
                _this.addClass('active');
                target.val(value).trigger('change');
            });
        });
	});

    $.fn.initProductAtrributeFields = function() {
        $('.product-view .product-attribute-field:not(.processed)').addClass('processed').each(function(i, o){
            $(o).change(function(){
                var _this = $(this);
                var attrCode = _this.attr('data-attr_code');
                if (typeof variationsRef[attrCode] === "undefined" || typeof variationsRef[attrCode][_this.val()] === "undefined") {
                    return false;
                }

                $($('.product-view .product-attribute-field').not(_this)).each(function(i_1, o_1){
                    var _this_1 = $(o_1);
                    
                    var attrCode_1 = _this_1.attr('data-attr_code');
                    var curSelected = _this_1.val();
                    
                    if (typeof variationsRef[attrCode][_this.val()][attrCode_1] === "undefined") {
                        return false;
                    }

                    _this_1.select2("destroy");
                    _this_1.empty();

                    var attrOptions = variationsRef[attrCode][_this.val()][attrCode_1];
                    for (var i = 0; i < attrOptions.length; i++) {
                        var attrOptionArr = attrOptions[i].split('__');
                        var data = {
                            id: attrOptionArr[0],
                            text: attrOptionArr[1]
                        };
                        if (attrOptionArr[0] == curSelected) {
                            var newOption = new Option(data.text, data.id, true, true);
                        } else {
                            var newOption = new Option(data.text, data.id, false, false);
                        }
                        
                        _this_1.append(newOption);
                    }

                    _this_1.select2();
                    $.fn.initProductAtrributeFields();
                });

                // switch variation details
                var variationAttrIds = [];
                $('.product-view .product-attribute-field').each(function(i, o){
                    variationAttrIds[i] = parseInt($(this).val());
                });
                
                var variationSelector = '.product-view .product-variation-attr-' + variationAttrIds.sort(function(a, b){return a - b}).join('-');
                $('.product-view .product-variation').hide();
                $(variationSelector).show();
            });
        });
    };

})(jQuery);
</script>