{% extends 'AppBundle:Theme\\Store\\Default\\Layout:2_columns.html.twig' %}

{% block page_body_class %}{{ parent() }} page-2-columns-template{% endblock %}

{% block page_content_main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 co-md-3 col-sm-10 col-xs-10">
			{{ sonata_page_render_container('content_left') }}
			{{ sonata_page_render_container('content_left', 'global') }}
            {{ navigation|raw }}
        </div>
        <div class="col-lg-9 co-md-9 col-sm-12 col-xs-12">
            {{ include('AppBundle:Theme\\Store\\Default\\Common:page_title.html.twig', { customPageTitle: parentProduct.name }) }}

            <div class="bg-white padding-4 margin-b-5">
                {{ include('AppBundle:Theme\\Store\\Default\\Common:messages.html.twig') }}

                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}

                <div id="product-view-{{ selectedProduct.id }}" class="product-view product-view-{{ selectedProduct.id }}">
                    <div class="row">
                        {{ include('AppBundle:Theme\\Store\\Default\\Product:details.html.twig') }}
                    </div>
                </div>

                {% set excludedIds = [parentProduct.id] %}
                {% if enabledVariations|length > 0 %}
                    {% for enabledVariation in enabledVariations %}
                        {% set excludedIds = excludedIds|merge([enabledVariation.id]) %}
                    {% endfor %}
                {% endif %}
                {{ sonata_block_render({ type: 'app.block.store_products' }, {
                    layout: 'default',
                    categories: selectedProduct.categories,
                    limit: 4,
                    headerTitle: 'Related Products',
                    headerTitleWrapperClass: 'margin-b-3',
                    headerTitleClass: 'fs-1_25 text-uppercase',
                    class: 'margin-t-5',
                    showNoResultsMessage: false,
                    excludedIds: excludedIds,
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sonata_page_asset_footer %}
{{ parent() }}
{{ include('AppBundle:Theme\\Store\\Default\\Product:scripts.html.twig') }}
{% endblock sonata_page_asset_footer %}