{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {%- if value is not empty -%}
        {% for item in value %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <td>{{ item.firstName }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ item.lastName }}</td>
                </tr>
                <tr>
                    <th>Address 1</th>
                    <td>{{ item.address1 }}</td>
                </tr>
                <tr>
                    <th>Address 2</th>
                    <td>{{ item.address2 }}</td>
                </tr>
                <tr>
                    <th>Postal Code</th>
                    <td>{{ item.postalCode }}</td>
                </tr>
                <tr>
                    <th>Contact Number</th>
                    <td>{{ item.contactNumber }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ item.city is not empty ? item.city.name : null }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    {% endif %}
{% endblock %}
